{% extends 'base.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Laminate Flooring</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Laminate Flooring</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="our-blog">
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/img-2.jpg" alt=""></a>
                                <div class="post-date">FEB 13</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Pre-Con Collaboration For Accurate Time And Cost Estimating</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/img-3.jpg" alt=""></a>
                                <div class="post-date">FEB 13</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Pre-Con Collaboration For Accurate Time And Cost Estimating</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/news-6.jpg" alt=""></a>
                                <div class="post-date">FEB 13</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Pre-Con Collaboration For Accurate Time And Cost Estimating</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/news-7.jpg" alt=""></a>
                                <div class="post-date">mar 15</div>
                                <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image play-btn"><span class="icon flaticon-arrow"></span></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Guide Administrators Before Starting Building Projects.</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/img-4.jpg" alt=""></a>
                                <div class="post-date">FEB 13</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Pre-Con Collaboration For Accurate Time And Cost Estimating</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Style Four-->
                    <div class="news-style-four">
                        <div class="inner-box">
                            <div class="text">“ These days are all share them with me oh baby said inspect <br> Californy till the one day when the lady they knew it was much more than a hunch <br> these men promptly escaped. ”</div>
                            <ul class="post-meta">
                                <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <div class="single-item-carousel owl-carousel owl-theme">
                                    <a href="blog-detail.html"><img src="images/resource/news-8.jpg" alt=""></a>
                                    <a href="blog-detail.html"><img src="images/resource/news-8.jpg" alt=""></a>
                                    <a href="blog-detail.html"><img src="images/resource/news-8.jpg" alt=""></a>
                                </div>
                                <div class="post-date">may 15</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Building Public Support For A School Bond Referendum</a></h3>
                                <div class="text">School districts can deploy these tactics to educate citizens and create a plan to maintain positive citizen perception of the quality. it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/img-5.jpg" alt=""></a>
                                <div class="post-date">FEB 13</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Pre-Con Collaboration For Accurate Time And Cost Estimating</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--Styled Pagination-->
                    <ul class="styled-pagination text-center">
                        <li class="prev"><a href="#"><span class="fa fa-angle-double-left"></span> Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#" class="active">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#">Next <span class="fa fa-angle-double-right"></span></a></li>
                    </ul>                
                    <!--End Styled Pagination-->
                    
                </div>
            </div>
            
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar default-sidebar">
                    
                    <!-- Search -->
                    <div class="sidebar-widget search-box">
                        <form method="post" action="email.php">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search here..." required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>
                    
                    <!-- category -->
                    <div class="sidebar-widget category-widget">
                        <div class="sidebar-title">
                            <h2><span class="theme_color">Best </span>Categories</h2>
                        </div>
                        <ul class="cat-list">
                            <li><a href="#">Builing Construction</a></li>
                            <li><a href="#">Building Interior Renovation</a></li>
                            <li><a href="#">Hardwood Flooring</a></li>
                            <li><a href="#">Roof Repairing</a></li>
                            <li><a href="#">Architecture Consulting</a></li>
                            <li><a href="#">Interior Design Package</a></li>
                        </ul>
                    </div>
                    
                    <!-- Popular Posts -->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title"><h2>Recent news</h2></div>

                        <article  class="post">
                            <h2 class="post-thumb"><img src="images/resource/post-thumb-1.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></h2>
                            <div class="text"><a href="blog-detail.html">Construction Honored With DBC Builderst</a></div>
                            <div class="post-info">18 Dec 2017</div>
                        </article >

                        <article  class="post">
                            <h2 class="post-thumb"><img src="images/resource/post-thumb-2.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></h2>
                            <div class="text"><a href="blog-detail.html">How Important Is Light In The Living Room?</a></div>
                            <div class="post-info">18 Nov 2017</div>
                        </article>
                        
                        <article  class="post">
                            <h2 class="post-thumb"><img src="images/resource/post-thumb-3.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></h2>
                            <div class="text"><a href="blog-detail.html">How To Build Attractive Construction Plan</a></div>
                            <div class="post-info">20 Oct 2017</div>
                        </article>
                        
                    </div>
                    
                    <!-- Archive -->
                    <div class="sidebar-widget archive-widget">
                        <div class="sidebar-title">
                            <h2><span class="theme_color">Our </span>Archives</h2>
                        </div>
                        <ul class="cat-list">
                            <li><a href="#">January 09, 2017</a></li>
                            <li><a href="#">March 30, 2017</a></li>
                            <li><a href="#">June 25, 2017</a></li>
                        </ul>
                    </div>
                    
                    <!--Solution Box-->
                    <div class="solution-box" style="background-image:url(images/resource/image-2.jpg)">
                        <div class="inner">
                            <div class="title">Quick Contact</div>
                            <h2>Get Solution</h2>
                            <div class="text">Contact us at the Constration office nearest to you or submit a business inquiry online.</div>
                            <a class="solution-btn theme-btn" href="contact.html">Contact Us</a>
                        </div>
                    </div>
                    
                </aside>
            </div>
            
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->
{% endblock %}

