{% extends 'base.html' %}
{% block MainSlider %}{% endblock %}

{% block content %}
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="container">
        <div>
            
            <!--Content Side  content-side -->
            <div>

                <div class="row">
                    {% for res in posts %}

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-bottom: 1em;">
                        <div class="news-block-three">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="/blog-one?post={{res['id']}}"><img src="{{res['mainFoto']}}" alt=""></a>
                                    <div class="post-date">{{res['data']}}</div>
                                </div>
                                <div class="lower-content">
                                    <div>
                                        <ul class="post-meta">
                                            <li><a href="#"><span class="icon fa fa-user"></span> {{res['author']}}</a></li>
                                            <li><a href="#"><span class="icon fa fa-tags"></span> {{res['category']}}</a></li>
                                        </ul>
                                    </div>
                                    
                                    <div class="text">
                                        <div class="custom-link">
                                            <a href="/blog-one?post={{res['id']}}"> 
                                                {{res['title']}}
                                            </a>
                                        </div>
                                        {{res['highlight']}}
                                    </div>
                                    <a href="/blog-one?post={{res['id']}}" class="theme-btn btn-style-six">Czytaj więcej <span class="fa fa-angle-double-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <!--Styled Pagination-->
                {% if pagination.total_pages > 1 %}
                    <ul class="styled-pagination text-center">
                        {% if pagination.has_prev %}
                            <li class="prev">
                                <a href='{{ url_for(request.endpoint, page=pagination.page - 1) }}'>
                                    <span class="fa fa-angle-double-left"></span>
                                     Prev
                                </a>
                            </li>
                        {% endif %}
                        {% for page in pagination.pages %}
                            {% if page %}
                                {% if page != pagination.page %}
                                <li>
                                    <a href="{{ url_for(request.endpoint, page=page) }}">
                                        {{ page }}
                                    </a>
                                </li>
                                {% else %}
                                    <li><a href="#" class="active">{{ page }}</a></li>
                                {% endif %}
                            {% endif %}    
                        {% endfor %}
                        {% if pagination.has_next %}
                            <li class="next">
                                <a href='{{ url_for(request.endpoint, page=pagination.page + 1) }}'>
                                    Next 
                                    <span class="fa fa-angle-double-right"></span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>     
                {% endif %}           
                <!--End Styled Pagination-->
                    
                
            </div>
            

            
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->
{% endblock %}

