{% extends 'base.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Laminate Flooring</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Laminate Flooring</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!--Content Side-->
            <div class="content-side col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="our-blog">
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/img-2.jpg" alt=""></a>
                                <div class="post-date">FEB 13</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Pre-Con Collaboration For Accurate Time And Cost Estimating</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/img-3.jpg" alt=""></a>
                                <div class="post-date">FEB 13</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Pre-Con Collaboration For Accurate Time And Cost Estimating</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/news-6.jpg" alt=""></a>
                                <div class="post-date">FEB 13</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Pre-Con Collaboration For Accurate Time And Cost Estimating</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/news-7.jpg" alt=""></a>
                                <div class="post-date">mar 15</div>
                                <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image play-btn"><span class="icon flaticon-arrow"></span></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Guide Administrators Before Starting Building Projects.</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/img-4.jpg" alt=""></a>
                                <div class="post-date">FEB 13</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Pre-Con Collaboration For Accurate Time And Cost Estimating</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Style Four-->
                    <div class="news-style-four">
                        <div class="inner-box">
                            <div class="text">“ These days are all share them with me oh baby said inspect <br> Californy till the one day when the lady they knew it was much more than a hunch <br> these men promptly escaped. ”</div>
                            <ul class="post-meta">
                                <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <div class="single-item-carousel owl-carousel owl-theme">
                                    <a href="blog-detail.html"><img src="images/resource/news-8.jpg" alt=""></a>
                                    <a href="blog-detail.html"><img src="images/resource/news-8.jpg" alt=""></a>
                                    <a href="blog-detail.html"><img src="images/resource/news-8.jpg" alt=""></a>
                                </div>
                                <div class="post-date">may 15</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Building Public Support For A School Bond Referendum</a></h3>
                                <div class="text">School districts can deploy these tactics to educate citizens and create a plan to maintain positive citizen perception of the quality. it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/img-5.jpg" alt=""></a>
                                <div class="post-date">FEB 13</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>By Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>04  Comments </a></li>
                                </ul>
                                <h3><a href="blog-detail.html">Pre-Con Collaboration For Accurate Time And Cost Estimating</a></h3>
                                <div class="text">Your sustainable design goals will be outlined and occupancy objectives will be discussed. A schedule for key activities it was much more than a hunch these men promptly escaped.</div>
                                <a href="#" class="theme-btn btn-style-six">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--Styled Pagination-->
                    <ul class="styled-pagination text-center">
                        <li class="prev"><a href="#"><span class="fa fa-angle-double-left"></span> Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#" class="active">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#">Next <span class="fa fa-angle-double-right"></span></a></li>
                    </ul>                
                    <!--End Styled Pagination-->
                    
                </div>
            </div>
            

            
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->
{% endblock %}

