{% extends 'base.html' %}
{% block MainSlider %}
{% endblock %}

{% block content %}
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="blog-single">
                    
                    <!--News Block Three-->
                    <div class="news-block-three">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{{choiced['mainFoto']}}" alt="{{choiced['title']}}">
                                <div class="post-date">{{choiced['data']}}</div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#"><span class="icon fa fa-user"></span>{{choiced['author']}}</a></li>
                                    <li><a href="#"><span class="icon fa fa-comment-o"></span>{{choiced['len']}}  Komentarzy </a></li>
                                </ul>
                                <h3>{{choiced['title']}}</h3>
                                <div class="text">
                                    <p>
                                        {{choiced['introduction']}}
                                    </p>
                                    <blockquote>
                                        {{choiced['highlight']}}
                                    </blockquote>
                                    <div><img src="{{choiced['contentFoto']}}" alt="{{choiced['title']}}"></div>
                                    <ul>
                                        {% for point in choiced['additionalList'] %}
                                        <li style="margin-top: 15px;">
                                            {{point}}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <h4 style="margin-top: 25px;">TAGI:</h4>
                                    <ul  class="social-icon-four">
                                        {% for tag in choiced['tags'] %}
                                        <li><a href="#">{{tag}}</a></li>
                                        {% endfor %}
                                      </ul>
                                </div>
                                <!--post-share-options-->
                                <div class="post-share-options clearfix">
                                    <div class="pull-left">
                                        <ul class="social-icon-four">
                                            <li class="share">Share Now:</li>
                                            <li>
                                                <a 
                                                    class="icon fa fa-facebook" 
                                                    href="https://www.facebook.com/sharer/sharer.php?u=https://www.dmdbudownictwo.pl/blog-one-pl?post={{choiced['id']}}&title={{choiced['title']}}&description={{choiced['highlight']}}&picture=https://dmdbudownictwo.pl/static/images/logo_dmd_budownictwo.png"
                                                    target="_blank">
                                                </a>
                                            </li>
                                            <li>
                                                <a 
                                                    class="icon fa fa-twitter" 
                                                    href="https://twitter.com/intent/tweet?text={{choiced['highlight']}}&url=https://www.dmdbudownictwo.pl/blog-one-pl?post={{choiced['id']}}" 
                                                    target="_blank">
                                                </a>
                                            </li>
                                            <!-- <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                            <li><a href="#"><span class="fa fa-dribbble"></span></a></li> -->
                                        </ul>
                                    </div>
                                    <div class="pull-right posts">
                                        <ul>
                                            {% if pre_next['prev'] != None %}
                                            <li class="prev"><a href="/blog-one?post={{pre_next['prev']}}"><span class="fa fa-angle-double-left"></span> Poprzedni</a></li>
                                            {% endif %}
                                            {% if pre_next['next'] != None %}
                                            <li><a href="/blog-one?post={{pre_next['next']}}">Następny <span class="fa fa-angle-double-right"></span></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Comments Area-->
                    <div class="comments-area">
                        
                        <div class="sec-title">
                            <h2><span class="theme_color">02</span> Comments</h2>
                        </div>
                        
                        <!--Comment Box-->
                        <div class="comment-box">
                            <div class="comment">
                                <div class="content">
                                    <div class="author-thumb"><img src="images/resource/author-3.jpg" alt=""></div>
                                    <div class="comment-inner">
                                        <div class="comment-info clearfix"><strong>Paul Jones</strong><div class="comment-time">August 29, 2021</div></div>
                                        <div class="text">There are all Happy and Free these days you wanna be where everybody knows your name fish do not fry in the kitchen and beans do not burn on the grill.</div>
                                        <a class="comment-reply" href="#">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Comment Box-->
                        <div class="comment-box reply-comment">
                            <div class="comment">
                                <div class="content">
                                    <div class="author-thumb"><img src="images/resource/author-4.jpg" alt=""></div>
                                    <div class="comment-inner">
                                        <div class="comment-info clearfix"><strong>Catherine Brown</strong><div class="comment-time">August 29, 2021</div></div>
                                        <div class="text">Happy and Free these days you wanna be where everybody knows your name fish do not fry in the kitchen and beans do not burn on the grill.</div>
                                        <a class="comment-reply" href="#">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <!-- Comment Form -->
                    <div class="comment-form">
                        <div class="sec-title">
                            <h2><span class="theme_color">Leave</span> Reply</h2>
                        </div>
                        <!--Comment Form-->
                        <form method="post" action="blog.html">
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <input type="text" name="username" placeholder="Name" required>
                                </div>
                                
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <input type="email" name="email" placeholder="Email" required>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                    <textarea name="message" placeholder="Comments"></textarea>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form">Post Comments</button>
                                </div>
                                
                            </div>
                        </form>
                            
                    </div>
                    <!--End Comment Form --> 
                    
                </div>
            </div>
            
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar default-sidebar">
                    
                    <!-- Search -->
                    <div class="sidebar-widget search-box">
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search here..." required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>
                    
                    <!-- category -->
                    <div class="sidebar-widget category-widget">
                        <div class="sidebar-title">
                            <h2><span class="theme_color">Best </span>Categories</h2>
                        </div>
                        <ul class="cat-list">
                            <li><a href="#">Builing Construction</a></li>
                            <li><a href="#">Building Interior Renovation</a></li>
                            <li><a href="#">Hardwood Flooring</a></li>
                            <li><a href="#">Roof Repairing</a></li>
                            <li><a href="#">Architecture Consulting</a></li>
                            <li><a href="#">Interior Design Package</a></li>
                        </ul>
                    </div>
                    
                    <!-- Popular Posts -->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title"><h2>Recent news</h2></div>

                        <article class="post">
                            <figure class="post-thumb"><img src="images/resource/post-thumb-1.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                            <div class="text"><a href="blog-detail.html">Construction Honored With DBC Builderst</a></div>
                            <div class="post-info">18 Dec 2017</div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb"><img src="images/resource/post-thumb-2.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                            <div class="text"><a href="blog-detail.html">How Important Is Light In The Living Room?</a></div>
                            <div class="post-info">18 Nov 2017</div>
                        </article>
                        
                        <article class="post">
                            <figure class="post-thumb"><img src="images/resource/post-thumb-3.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                            <div class="text"><a href="blog-detail.html">How To Build Attractive Construction Plan</a></div>
                            <div class="post-info">20 Oct 2017</div>
                        </article>
                        
                    </div>
                    
                    <!-- Archive -->
                    <div class="sidebar-widget archive-widget">
                        <div class="sidebar-title">
                            <h2><span class="theme_color">Our </span>Archives</h2>
                        </div>
                        <ul class="cat-list">
                            <li><a href="#">January 09, 2017</a></li>
                            <li><a href="#">March 30, 2017</a></li>
                            <li><a href="#">June 25, 2017</a></li>
                        </ul>
                    </div>
                    
                    <!--Solution Box-->
                    <div class="solution-box" style="background-image:url(images/resource/image-2.jpg)">
                        <div class="inner">
                            <div class="title">Quick Contact</div>
                            <h2>Get Solution</h2>
                            <div class="text">Contact us at the Constration office nearest to you or submit a business inquiry online.</div>
                            <a class="solution-btn theme-btn" href="contact.html">Contact Us</a>
                        </div>
                    </div>
                    
                </aside>
            </div>
            
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->

{% endblock %}

