{% extends 'base-pl.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>DMD Budownictwo</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Budownictwo</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar default-sidebar">
                        
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat">
                                <li class="active"><a href="/struktura?target=budownictwo">DMD Budownictwo</a></li>
                                <li><a href="/struktura?target=domy">DMD Domy</a></li>
                                <li><a href="/struktura?target=elitehome">DMD EliteHome</a></li>
                                <li><a href="/struktura?target=instalacje">DMD Instalacje</a></li>
                                <li><a href="/struktura?target=inwestycje">DMD Inwestycje</a></li>
                                <li><a href="/struktura?target=development">DMD Development</a></li>
                            </ul>
                        </div>
                        
                        <!--Brochure-->
                        <div class="sidebar-widget brochure-widget">
                            <div class="sidebar-title">
                                <h2><span class="theme_color">Pobierz</span> Katalog</h2>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Cały katalog</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Domy Parterowe</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_parterowe_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Domy Z Poddaszem</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_poddasze_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Domy Piętrowe</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_pietrowe_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Wille</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_wille_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Nowoczesne Domy</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_stodoly_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            
                            
                        </div>
                        
                        <!--Solution Box-->
                        <!-- <div class="solution-box" style="background-image:url(static/images/resource/image-2.jpg)">
                            <div class="inner">
                                <div class="title">Quick Contact</div>
                                <h2>Get Solution</h2>
                                <div class="text">Contact us at the Constration office nearest to you or submit a business inquiry online.</div>
                                <a class="solution-btn theme-btn" href="contact.html">Contact Us</a>
                            </div>
                        </div> -->
                        
                    </aside>
                </div>
                
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="services-single">
                        <div class="inner-box">
                            
                            <h2>DMD Budownictwo</h2>
                            <div class="text">
                                <p>
                                    DMD Budownictwo to lider w branży budowlanej, który realizuje marzenia o idealnym domu, łącząc 
                                    bezpieczeństwo, wyjątkową estetykę i funkcjonalność. Specjalizujemy się w prestiżowych projektach, 
                                    od nowoczesnych hal komercyjnych po luksusowe osiedla mieszkaniowe. Wykorzystując najnowocześniejsze 
                                    technologie i materiały, zapewniamy najwyższą jakość wykonania.
                                </p>
                                <p>
                                    Nasze projekty to nie tylko budynki, ale także kompleksowe rozwiązania, które przynoszą wartość naszym 
                                    klientom i społecznościom. Dbamy o każdy etap inwestycji, od wstępnych konsultacji, przez projektowanie, 
                                    aż po finalizację i oddanie do użytku. Dzięki temu możemy zagwarantować, że każda realizacja spełni 
                                    najwyższe standardy jakości i funkcjonalności.
                                </p>
                                <p>
                                    W DMD Budownictwo wierzymy, że kluczem do sukcesu jest nie tylko jakość wykonania, ale także relacje 
                                    z naszymi klientami. Nasz doświadczony zespół oferuje kompleksową obsługę, dbając o transparentność 
                                    i zadowolenie klientów na każdym etapie współpracy. Naszym celem jest tworzenie przestrzeni, które 
                                    nie tylko spełniają, ale i przewyższają oczekiwania naszych klientów.
                                </p>
                                <blockquote>
                                    Najważniejsze w budownictwie jest tworzenie miejsc, które inspirują ludzi.
                                    <div class="author">Renzo Piano</div>
                                </blockquote>
                                <div class="two-column">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image">
                                                <img src="static/images/brands/budownictwo-classic.png" alt="">
                                            </div>
                                        </div>
                                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                            <h3><span class="theme_color">Innowacyjne</span> Budownictwo</h3>
                                            <p>
                                                DMD Budownictwo realizuje prestiżowe projekty budowlane, 
                                                łącząc nowoczesne technologie i materiały. Nasze inwestycje 
                                                cechują się najwyższą jakością i kompleksową obsługą klienta.
                                            </p>
                                            <ul class="list-style-four">
                                                <li>Realizacja prestiżowych projektów</li>
                                                <li>Wykorzystanie nowoczesnych technologii</li>
                                                <li>Najwyższa jakość wykonania</li>
                                                <li>Kompleksowa obsługa klienta</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->

    <!--Call To Action Two-->
    <section class="call-to-action-section-two" style="background-image:url(static/images/background/4.jpg)">
        <div class="auto-container">
            <div class="row clearfix">
                
                <div class="column col-md-7 col-sm-12 col-xs-12">
                    <img src="static/images/logo.png" alt="">
                    <h2><span class="theme_color">Budujemy </span> z pasją!</h2>
                    <div class="text">Jeśli potrzebujesz wsparcia w zakresie budownictwa i remontów, skontaktuj się z nami. Jesteśmy gotowi, aby pomóc w każdej sytuacji.</div>
                </div>
                <div class="btn-column col-md-5 col-sm-12 col-xs-12">
                    <div class="number"><a href="tel:+48736545454">736 54 54 54</a><span class="theme_color"> lub</span> <a href="/kontakt" class="theme-btn btn-style-five">Skontaktuj się</a> </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Call To Action Two-->
{% endblock %}

