{% extends 'base-en.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>DMD Budownictwo</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Budownictwo</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Call: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar default-sidebar">
                        
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat">
                                <li class="active"><a href="/struktura?target=budownictwo">DMD Budownictwo</a></li>
                                <li><a href="/struktura?target=domy">DMD Domy</a></li>
                                <li><a href="/struktura?target=elitehome">DMD EliteHome</a></li>
                                <li><a href="/struktura?target=instalacje">DMD Instalacje</a></li>
                                <li><a href="/struktura?target=inwestycje">DMD Inwestycje</a></li>
                                <li><a href="/struktura?target=development">DMD Development</a></li>
                            </ul>
                        </div>
                        
                        <!--Brochure-->
                        <div class="sidebar-widget brochure-widget">
                            <div class="sidebar-title">
                                <h2><span class="theme_color">Download</span> Brochure</h2>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Complete Catalogue</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_download.pdf" class="overlay-link" download target="_blank"></a>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Single-Storey Houses</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_parterowe_download.pdf" class="overlay-link" download target="_blank"></a>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Houses with Attics</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_poddasze_download.pdf" class="overlay-link" download target="_blank"></a>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Two-Storey Houses</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_pietrowe_download.pdf" class="overlay-link" download target="_blank"></a>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Villas</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_wille_download.pdf" class="overlay-link" download target="_blank"></a>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Modern Houses</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_stodoly_download.pdf" class="overlay-link" download target="_blank"></a>
                            </div>
                            
                        </div>
                        
                        
                    </aside>
                </div>
                
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="services-single">
                        <div class="inner-box">
                            
                            <h2>DMD Budownictwo</h2>
                            <div class="text">
                                <p>
                                    DMD Budownictwo is a leader in the construction industry, turning dreams of the perfect home into reality by combining safety, exceptional aesthetics, and functionality. We specialize in prestigious projects, ranging from modern commercial halls to luxurious residential estates. Utilizing the latest technologies and materials, we ensure the highest quality of execution.
                                </p>
                                <p>
                                    Our projects are not just buildings but comprehensive solutions that bring value to our clients and communities. We take care of every stage of the investment, from initial consultations, through design, to completion and handover. This allows us to guarantee that every implementation meets the highest standards of quality and functionality.
                                </p>
                                <p>
                                    At DMD Budownictwo, we believe that the key to success lies not only in the quality of execution but also in relationships with our clients. Our experienced team offers comprehensive support, ensuring transparency and client satisfaction at every stage of cooperation. Our goal is to create spaces that not only meet but exceed our clients' expectations.
                                </p>
                                <blockquote>
                                    The most important thing in construction is creating places that inspire people.
                                    <div class="author">Renzo Piano</div>
                                </blockquote>
                                <div class="two-column">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image">
                                                <img src="static/images/brands/budownictwo-classic.png" alt="">
                                            </div>
                                        </div>
                                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                            <h3><span class="theme_color">Innovative</span> Construction</h3>
                                            <p>
                                                DMD Budownictwo delivers prestigious construction projects, combining modern technologies and materials. Our investments are characterized by the highest quality and comprehensive client service.
                                            </p>
                                            <ul class="list-style-four">
                                                <li>Execution of prestigious projects</li>
                                                <li>Use of modern technologies</li>
                                                <li>Highest quality of execution</li>
                                                <li>Comprehensive client service</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->

    <!--Call To Action Two-->
    <section class="call-to-action-section-two" style="background-image:url(static/images/background/4.jpg)">
        <div class="auto-container">
            <div class="row clearfix">
                
                <div class="column col-md-7 col-sm-12 col-xs-12">
                    <img src="static/images/logo.png" alt="">
                    <h2><span class="theme_color">Budujemy </span> z pasją!</h2>
                    <div class="text">Jeśli potrzebujesz wsparcia w zakresie budownictwa i remontów, skontaktuj się z nami. Jesteśmy gotowi, aby pomóc w każdej sytuacji.</div>
                </div>
                <div class="btn-column col-md-5 col-sm-12 col-xs-12">
                    <div class="number"><a href="tel:+48736545454">736 54 54 54</a><span class="theme_color"> lub</span> <a href="/kontakt" class="theme-btn btn-style-five">Skontaktuj się</a> </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Call To Action Two-->
{% endblock %}

