{% extends 'base.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>DMD Domy</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Domy</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar default-sidebar">
                        
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat">
                                <li><a href="/struktura?target=budownictwo">DMD Budownictwo</a></li>
                                <li class="active"><a href="/struktura?target=domy">DMD Domy</a></li>
                                <li><a href="/struktura?target=elitehome">DMD EliteHome</a></li>
                                <li><a href="/struktura?target=instalacje">DMD Instalacje</a></li>
                                <li><a href="/struktura?target=inwestycje">DMD Inwestycje</a></li>
                                <li><a href="/struktura?target=development">DMD Development</a></li>
                            </ul>
                        </div>
                        
                        <!--Brochure-->
                        <div class="sidebar-widget brochure-widget">
                            <div class="sidebar-title">
                                <h2><span class="theme_color">Pobierz</span> Katalog</h2>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Cały katalog</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Domy Parterowe</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_parterowe_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Domy Z Poddaszem</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_poddasze_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Domy Piętrowe</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_pietrowe_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Wille</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_wille_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Nowoczesne Domy</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_stodoly_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            
                            
                        </div>
                        
                        <!-- Solution Box-->
                        <div class="solution-box" style="background-image:url(static/images/resource/image-1.jpg)">
                            <div class="inner">
                                <div class="title">DMD Domy</div>
                                <h2>Owiedź naszą stronę</h2>
                                <div class="text">Zajrzyj na naszą stronę i odkryj, jak tworzymy wymarzone domy.</div>
                                <a class="solution-btn theme-btn" href="https://www.dmddomy.pl" target="_blank">DMD DOMY</a>
                            </div>
                        </div>
                        
                    </aside>
                </div>
                
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="services-single">
                        <div class="inner-box">
                            
                            <h2>DMD Domy</h2>
                            <div class="text">
                                <p>
                                    DMD Domy realizuje marzenia o idealnym domu, łącząc bezpieczeństwo, wyjątkową estetykę i funkcjonalność. 
                                    Nasze projekty to starannie zaprojektowane przestrzenie, które spełniają najwyższe standardy jakości 
                                    i komfortu. Dzięki innowacyjnym technologiom i doświadczonemu zespołowi, każdy dom staje się miejscem, 
                                    gdzie każdy detal ma znaczenie.
                                </p>
                                <p>
                                    Tworzymy domy, które są nie tylko miejscem do życia, ale także przestrzenią inspirującą do codziennych działań. 
                                    Zajmujemy się kompleksową realizacją projektów - od pierwszych szkiców, przez budowę, aż po finalne wykończenie. 
                                    Nasze domy łączą nowoczesne rozwiązania technologiczne z estetyką, która spełnia indywidualne potrzeby 
                                    i gusta naszych klientów.
                                </p>
                                <p>
                                    W DMD Domy stawiamy na najwyższe standardy obsługi klienta. Nasz zespół pełen pasji i doświadczenia jest 
                                    gotów przekształcić Twoje marzenie w realne miejsce pełne życia. Zaufaj nam, aby Twoje marzenia o idealnym 
                                    domu stały się rzeczywistością.
                                </p>
                                <blockquote>
                                    Architektura powinna mówić o swoim czasie i miejscu, ale tęsknić za ponadczasowością.
                                    <div class="author">Frank Gehry</div>
                                </blockquote>
                                <div class="two-column">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image">
                                                <img src="static/images/brands/domy-classic.png" alt="">
                                            </div>
                                        </div>
                                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                            <h3><span class="theme_color">Wymarzone</span> Domy</h3>
                                            <p>
                                                DMD Domy tworzy bezpieczne, estetyczne i funkcjonalne 
                                                przestrzenie mieszkalne. Nasze domy łączą nowoczesne 
                                                technologie z indywidualnym podejściem do każdego projektu.
                                            </p>
                                            <ul class="list-style-four">
                                                <li>Bezpieczeństwo i estetyka</li>
                                                <li>Funkcjonalne przestrzenie mieszkalne</li>
                                                <li>Nowoczesne technologie</li>
                                                <li>Indywidualne podejście do projektów</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->

    <!--Call To Action Two-->
    <section class="call-to-action-section-two" style="background-image:url(static/images/background/4.jpg)">
        <div class="auto-container">
            <div class="row clearfix">
                
                <div class="column col-md-7 col-sm-12 col-xs-12">
                    <img src="static/images/logo.png" alt="">
                    <h2><span class="theme_color">Budujemy </span> z pasją!</h2>
                    <div class="text">Jeśli potrzebujesz wsparcia w zakresie budownictwa i remontów, skontaktuj się z nami. Jesteśmy gotowi, aby pomóc w każdej sytuacji.</div>
                </div>
                <div class="btn-column col-md-5 col-sm-12 col-xs-12">
                    <div class="number"><a href="tel:+48736545454">736 54 54 54</a><span class="theme_color"> lub</span> <a href="/kontakt" class="theme-btn btn-style-five">Skontaktuj się</a> </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Call To Action Two-->
{% endblock %}

