<!--Footer Style Two-->
<footer class="footer-style-two" style="background-image:url(static/images/background/6.jpg)">
    <div class="auto-container">
    
        <!--Upper Box-->
        <div class="upper-box">
            <div class="row clearfix">
                
                <ul class="list-style-three">
                    <li><span class="icon flaticon-home-1"></span> <strong>Zapraszamy do biura</strong>ul. Dworkowa 51<span>05-082 Stare Babice, Polska</span></li>
                    <li><span class="icon flaticon-technology-2"></span> <strong>Masz pytania</strong>Zadzwoń teraz<span><a href="tel:+48736545454">+48 736 54 54 54</a></span></li>
                    <li><span class="icon flaticon-note"></span> <strong>E-mail</strong>Napisz na <span><a href="mailto:biuro@dmdbudownictwo.pl">biuro@dmdbudownictwo.pl</a></span></li>
                </ul>
                
            </div>
        </div>
        
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                
                <!--Footer Column-->
                <div class="footer-column col-md-6 col-sm-4 col-xs-12">
                    <div class="footer-widget about-widget">
                        <h2>O nas</h2>
                        <div class="text">
                            DMD Budownictwo to lider w branży, znany z realizacji prestiżowych projektów, takich 
                            jak nowoczesne hale komercyjne i luksusowe osiedla, dzięki nowoczesnym technologiom 
                            i wykwalifikowanemu zespołowi, zapewnia najwyższą jakość realizacji.
                        </div>
                    </div>
                </div>
                
                <!--Footer Column-->
                <div class="footer-column col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-widget links-widget">
                        <h2>Nawigacja</h2>
                        <div class="row clearfix">
                            
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <ul class="nav-list">
                                    <li><a href="/o-nas">O nas</a></li>
                                    <li><a href="/struktura">Struktura</a></li>
                                    <li><a href="/jak-pracujemy">Jak pracujemy</a></li>
                                    <li><a href="/realizacje">Realizacje</a></li>
                                </ul>
                            </div>
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <ul class="nav-list">
                                    <li><a href="/blogs">Blog</a></li>
                                    <li><a href="/kontakt">Kontakt</a></li>
                                    <li><a href="/subpage?target=polityka">Polityka Prywatności</a></li>
                                    <li><a href="/subpage?target=zasady">Zasady witryny</a></li>
                                    <li><a href="/subpage?target=pomoc">Pomoc</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <!--Footer Column-->
                <div class="footer-column col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-widget services-widget">
                        <h2>Więcej DMD </h2>
                        <ul class="nav-list">
                            <li><a href="/struktura?target=domy">DMD Domy</a></li>
                            <li><a href="/struktura?target=elitehome">DMD EliteHome</a></li>
                            <li><a href="/struktura?target=inwestycje">DMD Iwestycje</a></li>
                            <li><a href="/struktura?target=instalacje">DMD Instalacje</a></li>
                            <li><a href="/struktura?target=development">DMD Development</a></li>
                            <!-- <li><a href="#">Interior Design</a></li> -->
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!--Lower Box-->
        <div class="lower-box">
            <div class="row clearfix">
            
                <!--Social Column-->
                <div class="social-column col-md-5 col-sm-12 col-xs-12">
                    
                    <ul class="social-icon-three">
                        <li>Śledź nas na </li>
                        <li><a href="https://www.facebook.com/dmddomy/"><span class="fa fa-facebook-f"></span></a></li>
                        <li><a href="https://www.youtube.com/channel/UCBRN-SPMEIYK6YRV23Komxw"><span class="fa fa-youtube"></span></a></li>
                        <li><a href="https://www.instagram.com/dmddomy/"><span class="fa fa-instagram"></span></a></li>
                        <!-- <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li> -->
                    </ul>
                    
                </div>
                
                <!--Subscriber Column-->
                <div class="subscriber-column col-md-7 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <h3>Subskrybuj nas</h3>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="subscribe-form">
                                <form id="newsletter_form" >
                                    <div class="row form-group">
                                        <div class="col-lg-4">
                                            <input type="text" id="newsletterNameField" name="Imie" value="" placeholder="Imię" required>
                                        </div>
                                        <div class="col-lg-8">
                                            <input type="email" id="newsletterEmailField" name="Email" value="" placeholder="E-mail" required>
                                            <button type="submit" id="send_newsletter" class="theme-btn">
                                                <span class="flaticon-right-arrow-2"></span>
                                            </button>
                                        </div>
                                        
                                    </div>
                                    <div style="margin-top: 1em;" id="komunikat_z_serwera_newsletter"></div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="copyright">Copyright © <span id="currentYear"></span> DMD BUDOWNICTWO. All Right Reserved</div>
        <script>
            document.getElementById("currentYear").textContent = new Date().getFullYear();
        </script>
    </div>
</footer>
<!--End Footer Style Two-->