<!-- Main Header / Header Style Two-->
<header class="main-header header-style-two">
        
    <!-- Header Top Two-->
    <div class="header-top-two">
        <div class="auto-container">
            <div class="clearfix">
                
                <!--Top Left-->
                <div class="top-left">
                    <ul class="links clearfix">
                        <li><a href="#"><span class="icon fa fa-home"></span>Dworkowa 51, Stare Babice, Polska</a></li>
                        <li><a href="mailto:biuro@dmdbudownictwo.pl"><span class="icon fa fa-envelope"></span>biuro@dmdbudownictwo.pl</a></li>
                        <li><i class="bi bi-translate" style="color: #1d8aab;;"></i> <a href="/en" style="margin-left: 15px;"> EN</a></li>
                    </ul>
                </div>
                
                <!--Top Right-->
                <div class="top-right clearfix">
                    <ul class="clearfix">
                        
                        <!--Search Box-->
                        <li class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                    <li class="panel-outer">
                                        <div class="form-container">
                                            <form method="POST" action="{{ url_for('searchBlog') }}" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <input type="search" name="query" value="" placeholder="Przeszukaj blog" required>
                                                    <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                        <li><a href="tel:+48736545454" class="advisor"><span class="icon flaticon-phone-call"></span> ZADZWOŃ</a></li>
                        
                    </ul>                        
                </div>
                
            </div>
            
        </div>
    </div>
    <!-- Header Top End -->
    
    <!-- Main Box -->
    <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                    <div class="logo"><a href="/"><img src="static/images/logo.png" alt=""></a></div>
                </div>
                
                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                {% if pageTitle=='Strona Główna' %}
                                    <li class="current"><a href="/">DMD</a></li>
                                {% else %}
                                    <li><a href="/">DMD</a></li>
                                {% endif %}
                                
                                {% if pageTitle=='O nas' %}
                                    <li class="current"><a href="/o-nas">O Nas</a></li>
                                {% else %}
                                    <li><a href="/o-nas">O Nas</a></li>
                                {% endif %}

                                {% if pageTitle=='Struktura' %}
                                    <li class="current"><a href="/struktura">Struktura</a></li>
                                {% else %}
                                    <li><a href="/struktura">Struktura</a></li>
                                {% endif %}

                                {% if pageTitle=='Jak Pracujemy' %}
                                    <li class="current"><a href="/jak-pracujemy">Jak Pracujemy</a></li>
                                {% else %}
                                    <li><a href="/jak-pracujemy">Jak Pracujemy</a></li>
                                {% endif %}
                                
                                {% if pageTitle=='Realizacje' %}
                                    <li class="current"><a href="/realizacje">Realizacje</a></li>
                                {% else %}
                                    <li><a href="/realizacje">Realizacje</a></li>
                                {% endif %}

                                {% if pageTitle=='Kariera' %}
                                    <li class="current"><a href="/kariera">Kariera</a></li>
                                {% else %}
                                    <li><a href="/kariera">Kariera</a></li>
                                {% endif %}
                                
                                {% if pageTitle=='Blog' %}
                                    <li class="current"><a href="/blogs">Blog</a></li>
                                {% else %}
                                    <li><a href="/blogs">Blog</a></li>
                                {% endif %}

                                {% if pageTitle=='Kontakt' %}
                                    <li class="current"><a href="/kontakt">Kontakt</a></li>
                                {% else %}
                                    <li><a href="/kontakt">Kontakt</a></li>
                                {% endif %}
                                <li><a href="/en"><i class="bi bi-translate" style="color: #1d8aab;;"></i>  EN</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                    
                    
                </div>
                <!--Nav Outer End-->
                
            </div>    
        </div>
    </div>
    
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="/" class="img-responsive"><img src="static/images/logo-small.png" alt="" title=""></a>
            </div>
            
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->    	
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            {% if pageTitle=='Strona Główna' %}
                                <li class="current"><a href="/">DMD</a></li>
                            {% else %}
                                <li><a href="/">DMD</a></li>
                            {% endif %}
                            
                            {% if pageTitle=='O nas' %}
                                <li class="current"><a href="/o-nas">O Nas</a></li>
                            {% else %}
                                <li><a href="/o-nas">O Nas</a></li>
                            {% endif %}

                            {% if pageTitle=='Struktura' %}
                                <li class="current"><a href="/struktura">Struktura</a></li>
                            {% else %}
                                <li><a href="/struktura">Struktura</a></li>
                            {% endif %}

                            {% if pageTitle=='Jak Pracujemy' %}
                                <li class="current"><a href="/jak-pracujemy">Jak Pracujemy</a></li>
                            {% else %}
                                <li><a href="/jak-pracujemy">Jak Pracujemy</a></li>
                            {% endif %}
                            
                            {% if pageTitle=='Realizacje' %}
                            <li class="current"><a href="/realizacje">Realizacje</a></li>
                            {% else %}
                            <li><a href="/realizacje">Realizacje</a></li>
                            {% endif %}

                            {% if pageTitle=='Kariera' %}
                                <li class="current"><a href="/kariera">Kariera</a></li>
                            {% else %}
                                <li><a href="/kariera">Kariera</a></li>
                            {% endif %}
                            
                            {% if pageTitle=='Blog' %}
                                <li class="current"><a href="/blogs">Blog</a></li>
                            {% else %}
                                <li><a href="/blogs">Blog</a></li>
                            {% endif %}

                            {% if pageTitle=='Kontakt' %}
                                <li class="current"><a href="/kontakt">Kontakt</a></li>
                            {% else %}
                                <li><a href="/kontakt">Kontakt</a></li>
                            {% endif %}
                            <li><a href="/en"><i class="bi bi-translate" style="color: #1d8aab;;"></i>  EN</a></li>
                        </ul>
                        
                    </div>
                </nav><!-- Main Menu End-->
            </div>
            
        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!--End Main Header -->