{% extends 'base-pl.html' %}
{% block MainSlider %}
    <!--Main Slider-->
    <section class="main-slider">

        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                <ul>
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-3.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="static/images/main-slider/image-4.jpg"> 
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['720','700','650','550']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-130','-120','-110','-90']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="title">DMD BUDOWNICTWO</div>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['720','700','650','550']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-60','-50','-40','-30']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <h2 class="alternate"><span class="theme_color">Podnosimy</span> standardy!</h2>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-whitespace="normal"
                    data-width="['720','700','650','550']"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['20','25','20','25']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="text">Projekty budowlane na miarę Twoich ambicji, od domów po hale! </div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['720','700','650','550']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['110','115','90','105']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <a href="/jak-pracujemy" class="theme-btn btn-style-one">Rozpocznij współpracę</a>
                    </div>
                    
                    </li>
                    
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-6.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="static/images/main-slider/image-6.jpg">
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['720','600','550','550']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-130','-110','-90','-75']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="title">DMD BUDOWNICTWO</div>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['720','600','550','550']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-60','-110','-90','-75']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <h2 class="alternate"><span class="theme_color">Budujemy</span> Dla Ciebie</h2>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-whitespace="normal"
                    data-width="['720','700','650','550']"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['20','15','10','5']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="text">Podnosimy standardy, od domów po komercyjne hale! </div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['720','600','550','550']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['110','105','90','95']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <a href="/o-nas" class="theme-btn btn-style-one">Sprawdź Nas</a>
                    </div>
                    
                    </li>
                    
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-7.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="static/images/main-slider/image-7.jpg">
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['720','600','550','550']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-130','-110','-90','-75']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="title">DMD BUDOWNICTWO</div>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['720','600','550','550']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-60','-110','-90','-75']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <h2 class="alternate"><span class="theme_color">Tworzymy</span> Przyszłość</h2>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-whitespace="normal"
                    data-width="['720','700','650','550']"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['20','15','10','5']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="text">Budujemy jutro już dzisiaj!</div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['720','600','550','550']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['110','105','90','95']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <a href="/kontakt" class="theme-btn btn-style-one">Skontaktuj Się</a>
                    </div>
                    
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
    </section>
    <!--End Main Slider-->
{% endblock %}

{% block content %}
    <!--Success Section-->
    <section class="success-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Image Column-->
                <div class="image-column col-md-5 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="static/images/resource/success-1.jpg" alt="">
                        </div>
                        <div class="small-img">
                            <img src="static/images/resource/success-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-7 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="since-year clearfix">
                            <span class="title">Od</span>
                            <div class="year-img"><img src="static/images/resource/year.png" alt=""></div>
                            <div class="work">Ponad 20 lat<strong>Sukcesów</strong><span>w Branży</span></div>
                        </div>
                        <div class="text">
                            DMD Budownictwo zrealizowało dziesiątki prestiżowych projektów, w tym nowoczesne hale komercyjne 
                            i luksusowe osiedla mieszkaniowe, stając się liderem w branży budowlanej. Nasza firma zdobyła 
                            uznanie dzięki wykorzystaniu najnowocześniejszych technologii i materiałów, co przekłada się 
                            na najwyższą jakość realizowanych inwestycji. Dzięki wykwalifikowanemu zespołowi specjalistów, 
                            DMD Budownictwo zapewnia kompleksową obsługę klienta, od koncepcji po finalizację, co gwarantuje 
                            sukces każdego projektu.
                        </div>
                        
                        <div class="fact-counter">
                            <div class="row clearfix">
                            
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Ponad</h4>
                                            <span class="count-text" data-speed="8000" data-stop="20">0</span>
                                            <h4 class="counter-title">lat doświadczenia</h4>
                                        </div>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Ponad</h4>
                                            <span class="count-text" data-speed="6000" data-stop="150">0</span>
                                            <h4 class="counter-title">Pracowników</h4>
                                        </div>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Ponad</h4>
                                            <span class="count-text" data-speed="6000" data-stop="375">0</span>
                                            <h4 class="counter-title">Zadowolonych Klientów</h4>
                                        </div>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Ponad</h4>
                                            <span class="count-text" data-speed="9000" data-stop="25">0</span>
                                            <h4 class="counter-title">Realizowaych Projektów</h4>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                                
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Success Section-->
    
    <!--Services Section Two-->
    <section class="services-section-two" style="background-image:url(static/images/background/4.jpg)">
        <div class="auto-container">
            <div class="sec-title centered">
                <div class="title">To co proponujemy & rekomendujemy</div>
                <h2><span class="theme_color">Nasze</span> Główne Usługi</h2>
            </div>
            <div class="row clearfix">
                
                <!--Services Block Two-->
                <div class="services-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="upper-box">
                            <div class="icon-box">
                                <span class="icon flaticon-tools"></span>
                            </div>
                            <h3><a href="tel:+48736545454">Projekty Budowlane</a></h3>
                        </div>
                        <div class="text">Realizacja nowoczesnych inwestycji budowlanych.</div>
                        <a href="tel:+48736545454" class="read-more">Zadzwoń <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                
                <!--Services Block Two-->
                <div class="services-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="upper-box">
                            <div class="icon-box">
                                <span class="icon flaticon-home"></span>
                            </div>
                            <h3><a href="tel:+48736545454">Luksusowe Domy</a></h3>
                        </div>
                        <div class="text">Tworzenie komfortowych i funkcjonalnych przestrzeni mieszkalnych.</div>
                        <a href="tel:+48736545454" class="read-more">Zadzwoń <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                
                <!--Services Block Two-->
                <div class="services-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="upper-box">
                            <div class="icon-box">
                                <span class="icon flaticon-skyline"></span>
                            </div>
                            <h3><a href="tel:+48736545454">Hale Komercyjne</a></h3>
                        </div>
                        <div class="text">Budowa nowoczesnych i wydajnych hal przemysłowych.</div>
                        <a href="tel:+48736545454" class="read-more">Zadzwoń <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                
                <!--Services Block Two-->
                <div class="services-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="upper-box">
                            <div class="icon-box">
                                <span class="icon flaticon-connection"></span>
                            </div>
                            <h3><a href="tel:+48736545454">Rozwiązania Instalacyjne</a></h3>
                        </div>
                        <div class="text">Kompleksowe usługi instalacyjne, wewnętrzne i zewnętrzne.</div>
                        <a href="tel:+48736545454" class="read-more">Zadzwoń <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                
                <!--Services Block Two-->
                <div class="services-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="upper-box">
                            <div class="icon-box">
                                <span class="icon flaticon-drawing"></span>
                            </div>
                            <h3><a href="tel:+48736545454">Projektowanie Wnętrz</a></h3>
                        </div>
                        <div class="text">Profesjonalne projektowanie wnętrz o wyjątkowym designie.</div>
                        <a href="tel:+48736545454" class="read-more">Zadzwoń <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                
                <!--Services Block Two-->
                <div class="services-block-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="upper-box">
                            <div class="icon-box">
                                <span class="icon flaticon-briefcase-1"></span>
                            </div>
                            <h3><a href="tel:+48736545454">Konsultacje Inżynierskie</a></h3>
                        </div>
                        <div class="text">Eksperckie konsultacje z wykwalifikowanymi inżynierami.</div>
                        <a href="tel:+48736545454" class="read-more">Zadzwoń <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Services Section Two-->
    
    <!--Default Section-->
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Accordian Column-->
                <div class="accordian-column col-md-12 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <div class="title">Najczęściej zadawane pytania</div>
                            <h2><span class="theme_color">Czyli</span> Faq's</h2>
                        </div>
                        
                        <!--Accordian Box-->
                        <ul class="accordion-box">
                            
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer">
                                        <span class="icon icon-plus fa fa-plus"></span> 
                                        <span class="icon icon-minus fa fa-minus"></span>
                                    </div>
                                    Jakie usługi oferujecie?
                                </div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">
                                            Oferujemy kompleksowe usługi budowlane, w tym realizację projektów budowlanych, budowę luksusowych domów i hal komercyjnych. 
                                            Dodatkowo, zajmujemy się profesjonalnym projektowaniem wnętrz oraz zapewniamy konsultacje inżynierskie.
                                        </div>
                                    </div>
                                </div>
                            </li>
    
                            <!--Block-->
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    <div class="icon-outer">
                                        <span class="icon icon-plus fa fa-plus"></span> 
                                        <span class="icon icon-minus fa fa-minus"></span>
                                    </div>
                                    Czy oferujecie konsultacje przed rozpoczęciem projektu?
                                </div>
                                <div class="acc-content current">
                                    <div class="content">
                                        <div class="text">
                                            Tak, zapewniamy konsultacje z naszymi wykwalifikowanymi inżynierami. Pomagamy w dokładnym zrozumieniu potrzeb klienta 
                                            i oferujemy doradztwo na każdym etapie projektu.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer">
                                        <span class="icon icon-plus fa fa-plus"></span> 
                                        <span class="icon icon-minus fa fa-minus"></span>
                                    </div>
                                    Jak mogę skontaktować się z DMD Budownictwo?
                                </div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">
                                            Możesz skontaktować się z nami telefonicznie, mailowo na adres biuro@dmdbudownictwo.pl 
                                            lub poprzez formularz kontaktowy dostępny na naszej stronie internetowej. Jesteśmy zawsze gotowi 
                                            odpowiedzieć na Twoje pytania i umówić się na spotkanie.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                        
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Default Section-->


    <!--Team Section-->
    <section class="team-section">
        <div class="auto-container">
            <div class="sec-title centered">
                <div class="title">Nasza Siła</div>
                <h2><span class="theme_color">Nasi </span>Liderzy</h2>
            </div>
            <div class="row clearfix">
                
                
                {% for member in fourListTeam %}
                <!--Team Block-->
                <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">

                            <img src="{{member['EMPLOYEE_PHOTO']}}" alt="">

                            <div class="overlay-box">
                                <div class="designation-2">{{member['EMPLOYEE_NAME']}}</div>
                                <ul class="social-icon-two">
                                    {% if member['PHONE'] %}
                                        <li><a href="tel:{{member['PHONE']}}"><span class="fa fa-phone"></span></a></li>
                                    {% endif %}

                                    {% if member['EMAIL'] %}
                                    <li><a href="mailto:{{member['EMAIL']}}"><span class="fa fa-envelope"></span></a></li>
                                    {% endif %}

                                    {% if member['FACEBOOK'] %}
                                    <li><a href="{{member['FACEBOOK']}}" target="_blank"><span class="fa fa-facebook-f"></span></a></li>
                                    {% endif %}

                                    {% if member['LINKEDIN'] %}
                                    <li><a href="{{member['LINKEDIN']}}" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                                    {% endif %}
                                </ul>
                                <div class="designation">{{member['EMPLOYEE_ROLE']}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--End Team Section-->
    
    <!--News Section Two-->
    <section class="news-section-two">
        <div class="auto-container">
            <div class="sec-title">
                <div class="title">Wiemy, Co Mówimy, Bo Robimy To Z Pasją</div>
                <h2><span class="theme_color">Nasz Blog</span> to przestrzeń dzielenia się wiedzą!</h2>
            </div>

            <div class="two-item-carousel owl-carousel owl-theme">
                {% for postData in blog_post_three %}
                <!--News Block-->
                <div class="news-block-two">
                    <div class="inner-box">
                        <div class="clearfix">
                            <div class="image-column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="image">
                                    <img src="{{postData['mainFoto']}}" alt="">
                                    <div class="post-date">{{postData['data']}}</div>
                                    <a href="/blog-one?post={{postData['id']}}" class="overlay-box">
                                        <span class="icon fa fa-link"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="content-column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="content-box">
                                    <h3><a href="/blog-one?post={{postData['id']}}">{{postData['title']}}</a></h3>
                                    <!-- <div class="text">{{postData['introduction']}}</div> -->
                                    <ul class="options clearfix">
                                        <li><a href="/blog-one?post={{postData['id']}}"><span class="icon fa fa-user"></span>&ensp; {{postData['author']}}</a></li>
                                        <li><a href="/blog-one?post={{postData['id']}}">Czytaj więcej <span class="icon fa fa-angle-double-right"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                

            </div>
        </div>
    </section>
    <!--End News Section Two-->
    
    <!--Call To Action Two-->
    <section class="call-to-action-section-two" style="background-image:url(static/images/background/4.jpg)">
        <div class="auto-container">
            <div class="row clearfix">
                
                <div class="column col-md-7 col-sm-12 col-xs-12">
                    <img src="static/images/logo.png" alt="">
                    <h2><span class="theme_color">Budujemy </span> z pasją!</h2>
                    <div class="text">Jeśli potrzebujesz wsparcia w zakresie budownictwa i remontów, skontaktuj się z nami. Jesteśmy gotowi, aby pomóc w każdej sytuacji.</div>
                </div>
                <div class="btn-column col-md-5 col-sm-12 col-xs-12">
                    <div class="number"><a href="tel:+48736545454">736 54 54 54</a><span class="theme_color"> lub</span> <a href="/kontakt" class="theme-btn btn-style-five">Skontaktuj się</a> </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Call To Action Two-->
{% endblock %}