{% extends 'base.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>DMD Instalacje</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Instalacje</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar default-sidebar">
                        
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat">
                                <li><a href="/struktura?target=budownictwo">DMD Budownictwo</a></li>
                                <li><a href="/struktura?target=domy">DMD Domy</a></li>
                                <li><a href="/struktura?target=elitehome">DMD EliteHome</a></li>
                                <li class="active"><a href="/struktura?target=instalacje">DMD Instalacje</a></li>
                                <li><a href="/struktura?target=inwestycje">DMD Inwestycje</a></li>
                                <li><a href="/struktura?target=development">DMD Development</a></li>
                            </ul>
                        </div>
                        
                        <!--Brochure-->
                        <div class="sidebar-widget brochure-widget">
                            <div class="sidebar-title">
                                <h2><span class="theme_color">Pobierz</span> Katalog</h2>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Cały katalog</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Domy Parterowe</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_parterowe_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Domy Z Poddaszem</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_poddasze_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Domy Piętrowe</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_pietrowe_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Wille</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_wille_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            <div class="brochure-box">
                                <div class="inner">
                                    <span class="icon fa fa-file-pdf-o"></span>
                                    <div class="text">Nowoczesne Domy</div>
                                </div>
                                <a href="https://dmddomy.pl/downloads/dmd_domy_stodoly_download.pdf" class="overlay-link" download target="_balnk"></a>
                            </div>
                            
                            
                        </div>
                        
                        <!-- Solution Box-->
                        <!-- <div class="solution-box" style="background-image:url(static/images/resource/image-1.jpg)">
                            <div class="inner">
                                <div class="title">DMD Instalacje</div>
                                <h2>Owiedź naszą stronę</h2>
                                <div class="text">Sprawdź nasze nowoczesne rozwiązania instalacyjne na stronie DMD Instalacje.</div>
                                <a class="solution-btn theme-btn" href="https://www.dmdinstalacje.pl" target="_blank">DMD INSTALACJE</a>
                            </div>
                        </div> -->
                        
                    </aside>
                </div>
                
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="services-single">
                        <div class="inner-box">
                            
                            <h2>DMD Instalacje</h2>
                            <div class="text">
                                <p>
                                    DMD Instalacje specjalizuje się w kompleksowych rozwiązaniach instalacyjnych, kluczowych dla każdej 
                                    inwestycji budowlanej. Oferujemy pełen zakres usług, od instalacji wewnętrznych, takich jak elektryka 
                                    i hydraulika, po systemy zewnętrzne. Nasze projekty charakteryzują się wysoką efektywnością 
                                    i bezpieczeństwem, dzięki czemu inwestycje realizowane przez DMD Instalacje są niezawodne i trwałe.
                                </p>
                                <p>
                                    Wszystkie nasze instalacje są projektowane z myślą o przyszłości. Korzystamy z najnowszych technologii 
                                    i materiałów, aby zapewnić niezawodność i długowieczność naszych rozwiązań. Każdy projekt jest starannie 
                                    planowany i realizowany przez doświadczony zespół, który dba o każdy detal, aby zapewnić najwyższą 
                                    jakość usług.
                                </p>
                                <p>
                                    Nasze działania w ramach DMD Instalacje mają na celu zapewnienie niezawodności i długotrwałości każdej 
                                    zrealizowanej instalacji. Dzięki temu, inwestycje realizowane przez DMD charakteryzują się nie tylko 
                                    nowoczesnością, ale także trwałością i bezpieczeństwem.
                                </p>
                                <blockquote>
                                    Budynki, które projektujemy, powinny służyć nie tylko nam, ale i przyszłym pokoleniom.
                                    <div class="author">Richard Rogers</div>
                                </blockquote>
                                <div class="two-column">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image">
                                                <img src="static/images/brands/instalacje-classic.png" alt="">
                                            </div>
                                        </div>
                                        <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                            <h3><span class="theme_color">Nowoczesne</span> Instalacje</h3>
                                            <p>
                                                DMD Instalacje oferuje kompleksowe rozwiązania 
                                                instalacyjne dla różnych typów budynków. Nasze 
                                                instalacje są efektywne, bezpieczne i trwałe.
                                            </p>
                                            <ul class="list-style-four">
                                                <li>Kompleksowe rozwiązania instalacyjne</li>
                                                <li>Efektywność i bezpieczeństwo</li>
                                                <li>Trwałość instalacji</li>
                                                <li>Nowoczesne technologie</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->

    <!--Call To Action Two-->
    <section class="call-to-action-section-two" style="background-image:url(static/images/background/4.jpg)">
        <div class="auto-container">
            <div class="row clearfix">
                
                <div class="column col-md-7 col-sm-12 col-xs-12">
                    <img src="static/images/logo.png" alt="">
                    <h2><span class="theme_color">Budujemy </span> z pasją!</h2>
                    <div class="text">Jeśli potrzebujesz wsparcia w zakresie budownictwa i remontów, skontaktuj się z nami. Jesteśmy gotowi, aby pomóc w każdej sytuacji.</div>
                </div>
                <div class="btn-column col-md-5 col-sm-12 col-xs-12">
                    <div class="number"><a href="tel:+48736545454">736 54 54 54</a><span class="theme_color"> lub</span> <a href="/kontakt" class="theme-btn btn-style-five">Skontaktuj się</a> </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Call To Action Two-->
{% endblock %}

