{% extends 'base.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/kariera-one.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Kariera w DMD</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Kariera</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
    <!--Project Single Section-->
    <section class="project-single-section">
    	<div class="auto-container">
        	<div class="inner-box">
            	
                <div class="row clearfix">
                	<!--Info Column-->
                	<div class="info-column col-md-4 col-sm-12 col-xs-12">
                    
                    	<div class="sec-title">
                        	<h2><span class="theme_color">Poznaj</span> stanowisko</h2>
                        </div>
                        
                        <div class="text">
                            Zapraszamy do zapoznania się ze szczegółami tej oferty pracy. Dowiedz się więcej 
                            o wymaganiach, obowiązkach oraz korzyściach, jakie oferujemy dla tego stanowiska.
                        </div>
                        <ul class="info-list">
                        	<li><span>Client:</span>Construction Company</li>
                            <li><span>Location:</span>London Donec eleifend 96502</li>
                            <li><span>Surface Area:</span>500,000 m2</li>
                            <li><span>Year Completed:</span>2017</li>
                            <li><span>Value:</span>$550.000</li>
                            <li><span>Architect:</span>Harri & Gary</li>
                        </ul>
                        
                        <!--Solution Box Two-->
                        <div class="solution-box-two" style="background-image:url(static/images/background/patern-2.png)">
                        	<div class="inner">
                            	<div class="title">Zainteresowany</div>
                            	<h2>Aplikuj na to stanowisko</h2>
                                <div class="text">
                                    <p>
                                        Prosimy o przesyłanie swojego CV na poniższy adres email: 
                                        <strong>praca@dmdbudownictwo.pl</strong>. 
                                    </p>
                                    <p>
                                        W wiadomości e-mail prosimy o zawarcie następujących informacji:
                                    </p>
                                    <ul>
                                        <li>Pełne imię i nazwisko</li>
                                        <li>Numer telefonu kontaktowego</li>
                                        <li>Krótki opis doświadczenia zawodowego</li>
                                        <li>Preferowana data rozpoczęcia pracy</li>
                                        <li>Wymagany załącznik: aktualne CV w formacie .PDF</li>
                                    </ul>
                                    <p>Uprzejmie prosimy o dołączenie klauzuli o zgodzie na przetwarzanie danych osobowych.</p>

                                </div>
                                <a class="solution-btn theme-btn" href="/kontakt">Skontaktuj Się</a>
                            </div>
                        </div>
                        
                    </div>
                    <!--Description Column-->
                    <div class="description-column col-md-8 col-sm-12 col-xs-12">
                    	<div class="sec-title">
                        	<h2><span class="theme_color">Project </span> Descripation</h2>
                        </div>
                        <div class="text">
                        	<p>Well we’re movin’ on up to the east side. To a deluxe apartment in the sky. The weather started getting rough – the tiny ship was tossed. If not for the courage of the fearless crew the Minnow would be lost. the Minnow would be lost. We’re gonna do it. On your mark get set and go now. Got a dream and we just know now we’re gonna make our dream come true. I have always wanted to have a neighbor just like you. I’ve always wanted to live in a neighborhood with you.</p>
                            <h3>Project Challenge</h3>
                            <p>It’s time to put on makeup. It’s time to dress up right. It’s time to raise the curtain on the Muppet Show tonight. The mate was a mighty sailin’ man the Skipper brave and sure.</p>
                            <div class="row clearfix">
                            	<div class="column col-md-6 col-sm-6 col-xs-12">
                                	<ul class="list-style-five">
                                    	<li>Five passengers set sail that day for a three hour</li>
                                        <li>Family that’s the way we all became the brady</li>
                                        <li>The powerless in a world of criminals operate</li>
                                    </ul>
                                </div>
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                	<ul class="list-style-five">
                                    	<li>Till the one day when the lady met this fellow</li>
                                        <li>Champion the cause of the innocent career</li>
                                        <li>Now were up in the big leagues getting’ turn</li>
                                    </ul>
                                </div>
                            </div>
                            <h3>What We Did</h3>
                            <p>Then along come two they got nothin’ but their jeans. Texas tea. Knight Rider: A shadowy flight into the dangerous world of a man who does not exist. The first mate and his Skipper too will do their very best to make the others comfortable in their tropic island nest.</p>
                            <h3>RESULT</h3>
                            <div class="text">That’s just a little bit more than the law will allow. We’re gonna do it. On your mark get set and go now. Got a dream and we just know now we’re gonna make our dream come true. Makin their way the only way they know how. That’s just a little bit more than the law will allow.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Project Single Section-->

{% endblock %}

