{% extends 'base.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/kariera.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Kariera w DMD</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Kariera</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
    <!--Project Single Section-->
    <section class="project-single-section">
    	<div class="auto-container">
        	<div class="inner-box">
            	
                <div class="row clearfix">
                	<!--Info Column-->
                	<div class="info-column col-md-4 col-sm-12 col-xs-12">
                    
                    	<div class="sec-title">
                        	<h2><span class="theme_color">Nasza</span> Misja</h2>
                        </div>
                        
                        <div class="text">
                            DMD to kompleksowa grupa firm, która łączy różnorodne specjalizacje i talenty, 
                            aby spełnić oczekiwania nawet najbardziej wymagających klientów. Naszym głównym 
                            celem jest dostarczanie usług i produktów najwyższej jakości, zapewniając 
                            pełną satysfakcję i wygodę naszym klientom.
                        </div>
                        
                        
                        <!--Solution Box Two-->
                        <div class="solution-box-two" style="background-image:url(static/images/background/patern-2.png)">
                        	<div class="inner">
                            	<div class="title">Szybki Kontakt</div>
                            	<h2>Zrealizuj swoje marzenia z DMD</h2>
                                <div class="text">
                                    Zapraszamy do współpracy z DMD – zespół 
                                    pełen pasji i doświadczenia przekształci 
                                    Twoje marzenia w rzeczywistość, zapewniając 
                                    kompleksową obsługę na każdym etapie projektu.
                                </div>
                                <a class="solution-btn theme-btn" href="/kontakt">Skontaktuj Się</a>
                            </div>
                        </div>
                        
                    </div>
                    <!--Description Column-->
                    <div class="description-column col-md-8 col-sm-12 col-xs-12">
                    	<div class="sec-title">
                        	<h2><span class="theme_color">Poznaj</span>  Naszą Strukturę</h2>
                        </div>
                        <div class="text">
                        	<p>
                                DMD to kompleksowa grupa firm, która łączy różnorodne specjalizacje i talenty, 
                                aby sprostać oczekiwaniom najbardziej wymagających klientów. Każda z naszych 
                                marek ma swoją unikalną misję, wspierającą nasz nadrzędny cel: dostarczanie 
                                najwyższej jakości usług i produktów w branży budowlanej.    
                            </p>
                            <h3>Nasze Markie</h3>
                            <p>
                                Nasze marki obejmują szeroki zakres usług budowlanych i inwestycyjnych, tworząc 
                                synergię, która pozwala nam realizować najbardziej skomplikowane projekty. Poznaj 
                                każdą z naszych marek i zobacz, co możemy zaoferować.
                            </p>
                            <div class="row footer-style-two" style="background-color: black; padding: 10px 15px; margin-bottom: 1em;">
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=budownictwo">
                                        <img src="static/images/brands/logo_budownictwo.png" class="keep-size" alt="budownictwo"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=domy">
                                        <img src="static/images/brands/logo_domy.png" class="keep-size" alt="domy"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=elitehome">
                                        <img src="static/images/brands/logo_elitehome.png" class="keep-size" alt="elitehome"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=instalacje">
                                        <img src="static/images/brands/logo_instalacje.png" class="keep-size" alt="instalacje"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=inwestycje">
                                        <img src="static/images/brands/logo_investment.png" class="keep-size" alt="inwestycje"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=development">
                                        <img src="static/images/brands/logo_development.png" class="keep-size" alt="development"/>
                                    </a>
                                </div>

                            </div>
                            <div class="row clearfix">
                            	<div class="column col-md-6 col-sm-6 col-xs-12">
                                	<ul class="list-style-five">
                                    	<li><strong><a href="/struktura?target=budownictwo">DMD Budownictwo:</a></strong> Fundament naszej działalności, gdzie innowacyjność i najwyższe standardy kształtują przyszłość branży.</li>
                                        <li><strong><a href="/struktura?target=domy">DMD Domy:</a></strong> Realizujemy marzenia o idealnym domu, łącząc bezpieczeństwo, wyjątkową estetykę i funkcjonalność.</li>
                                        <li><strong><a href="/struktura?target=elitehome">DMD EliteHome:</a></strong> Nasza wizytówka w segmencie luksusowych nieruchomości, gdzie najwyższy poziom luksusu łączy się z unikalnym designem.</li>
                                        
                                    </ul>
                                </div>
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                	<ul class="list-style-five">
                                    	<li><strong><a href="/struktura?target=instalacje">DMD Instalacje:</a></strong> Specjalizujemy się w kompleksowych rozwiązaniach instalacyjnych, kluczowych dla każdej inwestycji.</li>
                                        <li><strong><a href="/struktura?target=inwestycje">DMD Inwestycje:</a></strong> Angażujemy się w projekty zrównoważonego rozwoju, generujące długoterminową wartość.</li>
                                        <li><strong><a href="/struktura?target=development">DMD Development:</a></strong> Budujemy i sprzedajemy nowe nieruchomości, oferując wygodne, bezpieczne i nowoczesne przestrzenie do życia i pracy.</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- <h3>Z czego jesteśmy dumni</h3> -->
                            <p>
                                Jesteśmy dumni z naszych prestiżowych projektów, które nie tylko zaspokajają potrzeby 
                                naszych klientów, ale także przyczyniają się do rozwoju lokalnych społeczności. 
                                Innowacyjne rozwiązania i najwyższa jakość wykonania to nasz znak rozpoznawczy.    
                            </p>
                            <h3>Wybierz DMD</h3>
                            <div class="text">
                                Zapraszamy do współpracy z DMD. Nasz zespół pełen pasji i doświadczenia jest gotów 
                                przekształcić Twoje marzenia w rzeczywistość, zapewniając kompleksową obsługę na 
                                każdym etapie projektu. Zaufaj profesjonalizmowi i zaangażowaniu, które definiują DMD.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Project Single Section-->

{% endblock %}

