{% extends 'base-pl.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Budowlany Quiz</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Budowlany Quiz</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col">
                <section class="single-page">
                    <div class="container" data-aos="fade-up">
                        <h3 class="text-white">Regulamin konkursu „Budowlany Quiz 2025”</h3>
                        <p class="text-secondary">
                            Organizatorem konkursu jest firma DMD Domy. Konkurs odbywa się na profilu Facebook i Instagram DMD Domy,
                            jednak Meta (Facebook/Instagram) nie jest sponsorem ani administratorem konkursu i nie ponosi za niego odpowiedzialności.
                        </p>
                        <hr />
                        <h4 class="text-white">1. Czas trwania konkursu</h4>
                        <p class="page-highlight">
                            Konkurs trwa od 1 kwietnia 2025 r. do 31 maja 2025 r. i podzielony jest na dwie tury:
                            <br />- I tura: 1–30 kwietnia 2025 r. – nagroda: wiertarka udarowa
                            <br />- II tura: 1–31 maja 2025 r. – nagroda: bezprzewodowa szlifierka kątowa BOSCH
                        </p>
                        <h4 class="text-white">2. Zasady udziału</h4>
                        <p class="page-highlight">
                            Aby wziąć udział w konkursie, należy:
                            <br />- Polubić lub zaobserwować profil DMD Domy na Facebooku lub Instagramie,
                            <br />- Odpowiadać w komentarzach pod postami quizowymi, wpisując wybraną odpowiedź (A/B/C/D). Uwaga: niektóre pytania mogą mieć więcej niż jedną poprawną odpowiedź,
                            <br />- Każda poprawna odpowiedź to 1 los w losowaniu nagrody.
                            <br /><br />
                            Dodatkowe losy można zdobyć za:
                            <br />- Oznaczenie znajomego w komentarzu (każdy taki komentarz to 1 dodatkowy los),
                            <br />- Polubienie posta z pytaniem konkursowym (1 dodatkowy los),
                            <br />- Udostępnienie posta z pytaniem konkursowym (każde udostępnienie to 1 dodatkowy los).
                        </p>
                        <h4 class="text-white">3. Wyłonienie zwycięzcy</h4>
                        <p class="page-highlight">
                            Zwycięzcy zostaną wyłonieni na podstawie łącznej liczby zebranych losów. Im więcej poprawnych odpowiedzi i aktywności, tym większa szansa na wygraną.
                            W przypadku remisu lub sytuacji spornych organizator zastrzega sobie prawo do przeprowadzenia losowania.
                        </p>
                        <h4 class="text-white">4. Ogłoszenie wyników</h4>
                        <p class="page-highlight">
                            Wyniki każdej tury zostaną ogłoszone na profilach społecznościowych DMD Domy w ciągu 5 dni roboczych po jej zakończeniu.
                        </p>
                        <h4 class="text-white">5. Nagrody</h4>
                        <p class="page-highlight">
                            - I tura: Wiertarka udarowa
                            <br />- II tura: Bezprzewodowa szlifierka kątowa BOSCH
                            <br />Nagrody nie podlegają wymianie na gotówkę ani zamianie na inne przedmioty.
                        </p>
                        <h4 class="text-white">6. Ochrona danych osobowych</h4>
                        <p class="page-highlight">
                            Dane osobowe uczestników będą przetwarzane wyłącznie w celu przeprowadzenia konkursu
                            i wysyłki nagrody. Nie będą udostępniane osobom trzecim.
                        </p>
                        <h4 class="text-white">7. Postanowienia końcowe</h4>
                        <p class="page-highlight">
                            Organizator zastrzega sobie prawo do zmiany regulaminu lub zakończenia konkursu w dowolnym momencie,
                            informując o tym w mediach społecznościowych. Pełna wersja regulaminu dostępna jest na stronie:
                            <a href="https://www.dmdbudownictwo.pl/konkurs-quiz-2025" target="_blank">www.dmdbudownictwo.pl/konkurs-quiz-2025</a>
                        </p>
                    </div>
                </section>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

