{% extends 'base-en.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/onas.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>A Few Words About Us</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Call: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
    <!--Success Section-->
    <section class="success-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Image Column-->
                <div class="image-column col-md-5 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="static/images/resource/success-1.jpg" alt="">
                        </div>
                        <div class="small-img">
                            <img src="static/images/resource/success-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-7 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="since-year clearfix">
                            <span class="title">Since</span>
                            <div class="year-img"><img src="static/images/resource/year.png" alt=""></div>
                            <div class="work">Over 20 Years<strong>of Success</strong><span>in the Industry</span></div>
                        </div>
                        <div class="text">
                            DMD Budownictwo has completed dozens of prestigious projects, including modern commercial 
                            halls and luxury residential estates, becoming a leader in the construction industry. Our 
                            company has earned recognition for utilizing cutting-edge technologies and materials, ensuring 
                            the highest quality of completed investments. With a highly qualified team of specialists, 
                            DMD Budownictwo provides comprehensive client support, from concept to completion, ensuring 
                            the success of every project.
                        </div>
                        
                        
                        <div class="fact-counter">
                            <div class="row clearfix">
                            
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Over</h4>
                                            <span class="count-text" data-speed="8000" data-stop="20">0</span>
                                            <h4 class="counter-title">years of experience</h4>
                                        </div>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Over</h4>
                                            <span class="count-text" data-speed="6000" data-stop="150">0</span>
                                            <h4 class="counter-title">employees</h4>
                                        </div>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Over</h4>
                                            <span class="count-text" data-speed="6000" data-stop="375">0</span>
                                            <h4 class="counter-title">satisfied clients</h4>
                                        </div>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Over</h4>
                                            <span class="count-text" data-speed="9000" data-stop="25">0</span>
                                            <h4 class="counter-title">completed projects</h4>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Success Section-->

    <!--Fluid Section One-->
    <section class="fluid-section-one">
        <div class="outer-container clearfix">
            <!--Image Column-->
            <div class="image-column" style="background-image:url(static/images/resource/image-1.jpg);">
                <figure class="image-box"><img src="static/images/resource/image-1.jpg" alt=""></figure>
            </div>
            <!--Content Column-->
            <div class="content-column">
                <div class="inner-box">
                    <div class="sec-title">
                        <div class="title">Why Trust Us?</div>
                        <h2><span class="theme_color">DMD Construction </span>Your Reliable Building Partner</h2>
                    </div>
                    <div class="text">
                        DMD Construction is a company with years of experience and an extensive portfolio of prestigious 
                        projects. Our mission is to deliver top-quality construction services that exceed client expectations. 
                        Trust us, and together we will bring your dreams of the perfect space for living and working to life.
                    </div>
                    <ul class="list-style-one clearfix">
                        <li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-tools"></span>Experience</li>
                        <li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-technology"></span>Modern Technologies</li>
                        <li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-settings"></span>Comprehensive Service</li>
                        <li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-diamond"></span>Quality Assurance</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Fluid Section One-->
    
    <!--Featured Section-->
    <section class="featured-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <div class="title">DMD is a Philosophy!</div>
                            <h2><span class="theme_color">Building</span> the Future</h2>
                        </div>
                        <div class="text">
                            <p>
                                We invite you to watch our presentation video, which captures the essence of 
                                our work and passion. See how DMD Construction turns our clients' dreams into 
                                reality through innovative projects and top-notch quality.
                            </p>
                            <p>
                                If you have any questions or would like to discuss your project, get in touch 
                                with us – we are here to help!
                            </p>
                        </div>
                        <a href="/contact" class="theme-btn btn-style-four">Contact Us</a>
                    </div>
                </div>
                
                <!--Video Column-->
                <div class="video-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="video-box">
                            <figure class="image">
                                <img src="static/images/resource/video-img.jpg" alt="">
                                <a href="https://youtu.be/BrFETkf8wDw?si=waHE1AbWoWC2w9GI" class="lightbox-image overlay-box"><span class="flaticon-arrow"></span></a>
                            </figure>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Featured Section-->

{% endblock %}

