{% extends 'base.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/onas.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Kilka słów o nas</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>O Nas</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
    <!--Success Section-->
    <section class="success-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Image Column-->
                <div class="image-column col-md-5 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="static/images/resource/success-1.jpg" alt="">
                        </div>
                        <div class="small-img">
                            <img src="static/images/resource/success-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-7 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="since-year clearfix">
                            <span class="title">Od</span>
                            <div class="year-img"><img src="static/images/resource/year.png" alt=""></div>
                            <div class="work">Ponad 20 lat<strong>Sukcesów</strong><span>w Branży</span></div>
                        </div>
                        <div class="text">
                            DMD Budownictwo zrealizowało dziesiątki prestiżowych projektów, w tym nowoczesne hale komercyjne 
                            i luksusowe osiedla mieszkaniowe, stając się liderem w branży budowlanej. Nasza firma zdobyła 
                            uznanie dzięki wykorzystaniu najnowocześniejszych technologii i materiałów, co przekłada się 
                            na najwyższą jakość realizowanych inwestycji. Dzięki wykwalifikowanemu zespołowi specjalistów, 
                            DMD Budownictwo zapewnia kompleksową obsługę klienta, od koncepcji po finalizację, co gwarantuje 
                            sukces każdego projektu.
                        </div>
                        
                        <div class="fact-counter">
                            <div class="row clearfix">
                            
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Ponad</h4>
                                            <span class="count-text" data-speed="8000" data-stop="20">0</span>
                                            <h4 class="counter-title">lat doświadczenia</h4>
                                        </div>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Ponad</h4>
                                            <span class="count-text" data-speed="6000" data-stop="150">0</span>
                                            <h4 class="counter-title">Pracowników</h4>
                                        </div>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Ponad</h4>
                                            <span class="count-text" data-speed="6000" data-stop="375">0</span>
                                            <h4 class="counter-title">Zadowolonych Klientów</h4>
                                        </div>
                                    </div>
                                </div>
                        
                                <!--Column-->
                                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <h4 class="counter-title">Ponad</h4>
                                            <span class="count-text" data-speed="9000" data-stop="25">0</span>
                                            <h4 class="counter-title">Realizowaych Projektów</h4>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                                
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Success Section-->

    <!--Fluid Section One-->
    <section class="fluid-section-one">
    	<div class="outer-container clearfix">
        	<!--Image Column-->
            <div class="image-column" style="background-image:url(static/images/resource/image-1.jpg);">
            	<figure class="image-box"><img src="static/images/resource/image-1.jpg" alt=""></figure>
            </div>
        	<!--Content Column-->
            <div class="content-column">
            	<div class="inner-box">
                    <div class="sec-title">
                        <div class="title">Dlaczego warto nam zaufać?</div>
                        <h2><span class="theme_color">DMD Budownictwo </span> Twój pewny partner w budowie</h2>
                    </div>
                    <div class="text">
                        DMD Budownictwo to firma z wieloletnim doświadczeniem i bogatym portfolio prestiżowych 
                        projektów. Nasza misja to dostarczanie najwyższej jakości usług budowlanych, które 
                        przekraczają oczekiwania klientów. Zaufaj nam, a wspólnie zrealizujemy Twoje marzenia 
                        o idealnej przestrzeni do życia i pracy.
                    </div>
                    <ul class="list-style-one clearfix">
                    	<li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-tools"></span>Doświadczenie</li>
                        <li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-technology"></span>Nowoczesne Technologie</li>
                        <li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-settings"></span>Kompleksowa Obsługa</li>
                        <li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-diamond"></span>Gwarancja Jakości</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Fluid Section One-->
    
    <!--Featured Section-->
    <section class="featured-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title">
                        	<div class="title">DMD to filozofia!</div>
                            <h2><span class="theme_color">Budujemy</span> Przyszłość</h2>
                        </div>
                        <div class="text">
                        	<p>
                                Zapraszamy do obejrzenia naszego filmu prezentacyjnego, który 
                                oddaje esencję naszej pracy i pasji. Przekonaj się, jak DMD 
                                Budownictwo realizuje marzenia naszych klientów poprzez 
                                innowacyjne projekty i najwyższą jakość wykonania.
                            </p>
                            <p>
                                Jeśli masz pytania lub chcesz omówić swój projekt, skontaktuj 
                                się z nami – jesteśmy tutaj, aby pomóc!
                            </p>
                        </div>
                        <a href="/kontakt" class="theme-btn btn-style-four">Skontaktuj Się</a>
                    </div>
                </div>
                
                <!--Video Column-->
                <div class="video-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="video-box">
                            <figure class="image">
                                <img src="static/images/resource/video-img.jpg" alt="">
                                <a href="https://youtu.be/BrFETkf8wDw?si=waHE1AbWoWC2w9GI" class="lightbox-image overlay-box"><span class="flaticon-arrow"></span></a>
                            </figure>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Featured Section-->

{% endblock %}

