{% extends 'base-en.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Help</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Help</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Call: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col">
                <section class="single-page">
                    <div class="container" data-aos="fade-up">
                        <h3 class="text-white">Welcome to the Help Center!</h3>
                        <p class="text-secondary">
                            Our team is here to make your experience on our platform as smooth as possible. 
                            Below, you'll find sections that can help answer your questions, provide information 
                            about our privacy policy, terms of use, and other topics. If you still need assistance, 
                            use our contact form or reach out to our team directly. We're here to help!
                        </p>
                        <hr />
                        <h4 class="text-white">Privacy Policy</h4>
                        <p class="page-highlight">
                            Learn about our privacy policy to understand how we protect your personal data. 
                            Your privacy is our priority.
                        </p>
                        <h4 class="text-white">Terms of Use</h4>
                        <p class="page-highlight">
                            Read our terms of use to understand the rules and conditions for using our services. 
                            We recommend following these guidelines to ensure a secure and efficient experience 
                            on our platform.
                        </p>
                        <h4 class="text-white">Contact</h4>
                        <p class="page-highlight">
                            Need additional help? Use our <a href="/kontakt">contact form</a> or reach out to our support team directly via email at: 
                            <a href="mailto:biuro@dmdbudownictwo.pl">biuro@dmdbudownictwo.pl</a>
                        </p>
                    </div>
                </section>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

