{% extends 'base-pl.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Pomoc</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Pomoc</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col">
                <section class="single-page">
                    <div class="container" data-aos="fade-up">
                        <h3 class="text-white">Witaj w Dziale Pomocy!</h3>
                        <p class="text-secondary ">
                            Nasz zespół jest tutaj, aby uprościć Twoje doświadczenie na naszej platformie. 
                            Poniżej znajdziesz kilka sekcji, które mogą Ci pomóc z zapytaniami, informacjami 
                            o polityce prywatności, zasadami korzystania oraz innymi kwestiami. Jeśli nadal 
                            potrzebujesz pomocy, skorzystaj z formularza kontaktowego lub skontaktuj się 
                            bezpośrednio z naszym zespołem. Jesteśmy gotowi, aby Ci pomóc!
                        </p>
                        <hr />
                        <h4 class="text-white">Polityka Prywatności</h4>
                        <p class="page-highlight">
                            Zapoznaj się z naszą polityką prywatności, aby dowiedzieć się, jak dbamy o bezpieczeństwo 
                            Twoich danych osobowych. Twoja prywatność jest dla nas priorytetem.
                        </p>
                        <h4 class="text-white">Zasady Korzystania z Witryny</h4>
                        <p class="page-highlight">
                            Przeczytaj nasze zasady korzystania z witryny, aby zrozumieć reguły i warunki korzystania 
                            z naszych usług. Zalecamy przestrzeganie tych zasad dla zwiększenia wydajności i bezpieczeństwa 
                            korzystania z platformy.
                        </p>
                        <h4 class="text-white">Kontakt</h4>
                        <p class="page-highlight">
                            Potrzebujesz dodatkowej pomocy? Skorzystaj z <a href="/kontakt">formularza kontaktowego</a> lub napisz bezpośrednio 
                            na adres e-mail naszego działu wsparcia: <a href="mailto:biuro@dmdbudownictwo.pl" >biuro@dmdbudownictwo.pl</a>
                        </p>
                        
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}

