{% extends 'base.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Jak Pracujemy</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Jak Pracujemy</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            
            <div class="content-side col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="services-single">
                    <div class="inner-box">
                        <h3 class="alternate"><span class="theme_color">Jak</span> Pracujemy</h3>
                        
                        <!--Fluid Section One-->
                        <section class="fluid-section-one">
                            <div class="outer-container clearfix">
                                <!--Image Column-->
                                <div class="image-column" style="background-image:url(static/images/resource/image-3.jpg);">
                                    <figure class="image-box"><img src="static/images/resource/image-3.jpg" alt=""></figure>
                                </div>
                                <!--Content Column-->
                                <div class="content-column">
                                    <div class="inner-box">
                                        <div class="sec-title">
                                            <div class="title">Wprowadzenie do Modelu Pracy DMD</div>
                                            <h2><span class="theme_color">Model Pracy</span> DMD</h2>
                                        </div>
                                        <div class="text">
                                            <p>
                                                Nasz diagram prezentuje kompleksowy model pracy DMD, który ilustruje każdy kluczowy 
                                                etap procesu realizacji inwestycji. Od inicjalnego pomysłu aż po finalizację projektu, 
                                                zobaczysz jak nasze różnorodne specjalizacje współpracują, aby przekształcić wizję 
                                                inwestora w rzeczywistość. Każda z naszych marek odgrywa unikalną rolę, zapewniając 
                                                najwyższą jakość i profesjonalizm na każdym kroku.
                                            </p>
                                            <p>
                                                Czytając diagram, zauważysz, że proces zaczyna się od okoliczności inwestycyjnej, 
                                                gdzie inwestor inicjuje pomysł na nieruchomość. Następnie, w zależności od charakteru 
                                                projektu, angażujemy odpowiednie zespoły DMD Budownictwo, DMD Inwestycje, DMD Instalacje, 
                                                DMD Domy i DMD EliteHome. Końcowy etap obejmuje przekazanie gotowej inwestycji inwestorowi 
                                                lub promocję na rynku przez DMD Development, jeśli projekt jest wspólną inwestycją oraz 
                                                jeśli takie są założenia inwestycji.
                                            </p>
                                            <p>
                                                Zapraszamy do współpracy przy realizacji Twojego projektu. Niezależnie od tego, czy planujesz 
                                                budowę domu, obiektu komercyjnego, czy innowacyjnej inwestycji, nasz doświadczony zespół 
                                                jest gotów wesprzeć Cię na każdym etapie. Razem możemy przekształcić Twoje marzenia 
                                                i pomysły w udane inwestycje, które przyniosą wartość i satysfakcję na lata.
                                            </p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--End Fluid Section One-->
                        <p>
                            Nasza współpraca z inwestorami opiera się na zaufaniu, profesjonalizmie i dążeniu do 
                            realizacji najwyższych standardów. Dzięki kompleksowemu podejściu do każdego projektu, 
                            możemy zagwarantować, że każde przedsięwzięcie zostanie zrealizowane zgodnie z założeniami, 
                            przynosząc maksymalne korzyści i spełniając oczekiwania wszystkich zaangażowanych stron.
                        </p>
                        <!--Process Boxed-->
                        <div class="process-boxed">
                            <div class="row clearfix">

                                <!--Process Block-->
                                <div class="process-block col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="upper-box">
                                            <div class="icon-box">
                                                <i class="fa fa-lightbulb-o"></i>
                                                <div class="block-number">1</div>
                                            </div>
                                        </div>
                                        <div class="lower-box">
                                            <h4><a href="/kontakt">Pomysł</a></h4>
                                            <div class="text">Klient lub inwestor inicjuje pomysł na inwestycję.</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Process Block-->
                                <div class="process-block col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="upper-box">
                                            <div class="icon-box">
                                                <i class="fa fa-building"></i>
                                                <div class="block-number">2</div>
                                            </div>
                                        </div>
                                        <div class="lower-box">
                                            <h4><a href="/struktura?target=inwestycje">Inwestycja</a></h4>
                                            <div class="text">DMD Inwestycje analizuje i planuje projekt inwestycyjny.</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Process Block-->
                                <div class="process-block col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="upper-box">
                                            <div class="icon-box">
                                                <i class="fa fa-cogs"></i>
                                                <div class="block-number">3</div>
                                            </div>
                                        </div>
                                        <div class="lower-box">
                                            <h4><a href="/struktura?target=budownictwo">Realizacja</a></h4>
                                            <div class="text">DMD Budownictwo rozpoczyna budowę zgodnie z projektem.</div>
                                        </div>
                                    </div>
                                </div>

                                <!--Process Block-->
                                <div class="process-block col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="upper-box">
                                            <div class="icon-box">
                                                <i class="fa fa-cogs"></i>
                                                <div class="block-number">4</div>
                                            </div>
                                        </div>
                                        <div class="lower-box">
                                            <h4><a href="/struktura?target=instalacje">Instalacje</a></h4>
                                            <div class="text">DMD Instalacje wykonuje niezbędne prace instalacyjne.</div>
                                        </div>
                                    </div>
                                </div>

                                <!--Process Block-->
                                <div class="process-block col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="upper-box">
                                            <div class="icon-box">
                                                <i class="fa fa-home"></i>
                                                <div class="block-number">5</div>
                                            </div>
                                        </div>
                                        <div class="lower-box">
                                            <h4><a href="/struktura?target=domy">Domy</a></h4>
                                            <div class="text">DMD Domy uczestniczy w budowie <br />(jeśli inwestycja jest domem).</div>
                                        </div>
                                    </div>
                                </div>

                                <!--Process Block-->
                                <div class="process-block col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="upper-box">
                                            <div class="icon-box">
                                                <i class="fa fa-diamond"></i>
                                                <div class="block-number">6</div>
                                            </div>
                                        </div>
                                        <div class="lower-box">
                                            <h4><a href="/struktura?target=elitehome">EliteHome</a></h4>
                                            <div class="text">DMD EliteHome tworzy unikalne, luksusowe nieruchomości <br>(jeśli inwestycja jest domem).</div>
                                        </div>
                                    </div>
                                </div>

                                <!--Process Block-->
                                <div class="process-block col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="upper-box">
                                            <div class="icon-box">
                                                <i class="fa fa-file-text-o"></i>
                                                <div class="block-number">7</div>
                                            </div>
                                        </div>
                                        <div class="lower-box">
                                            <h4><a href="tel:+48736545454">Przekazanie</a></h4>
                                            <div class="text">Inwestycja jest odbierana przez inwestora.</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Process Block-->
                                <div class="process-block col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="upper-box">
                                            <div class="icon-box">
                                                <i class="fa fa-bullhorn"></i>
                                                <div class="block-number">8</div>
                                            </div>
                                        </div>
                                        <div class="lower-box">
                                            <h4><a href="/struktura?target=development">Promocja</a></h4>
                                            <div class="text">DMD Development promuje nieruchomość na rynku.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <!--Product Info Tabs-->
                        <div class="product-info-tabs" style="margin-bottom: 40px;">
                            <!--Services Tabs-->
                            <div class="services-tabs tabs-box">
                            
                                <!--Tab Btns-->
                                <ul class="tab-btns tab-buttons clearfix">
                                    <li data-tab="#prod-details" class="tab-btn active-btn">Planowanie</li>
                                    <li data-tab="#prod-spec" class="tab-btn">Realizacja</li>
                                    <li data-tab="#prod-reviews" class="tab-btn">Finalizacja</li>
                                </ul>
                                
                                <!--Tabs Container-->
                                <div class="tabs-content">
                                    
                                    <!--Tab / Active Tab-->
                                    <div class="tab active-tab" id="prod-details">
                                        <div class="content">
                                            <p>
                                                Proces realizacji inwestycji w DMD rozpoczyna się od dokładnego planowania. 
                                                Na tym etapie inwestor (klient indywidualny lub grupa inwestorów) inicjuje 
                                                pomysł na inwestycję, który może obejmować budowę domu, obiektu komercyjnego 
                                                lub innego rodzaju budynku. Nasz zespół DMD Inwestycje przeprowadza szczegółową 
                                                analizę, oceniając potencjał inwestycji, lokalizację oraz wymagania projektowe. 
                                            </p>
                                            <p>
                                                Następnie przygotowujemy plan działania, który uwzględnia wszystkie aspekty projektu, 
                                                takie jak harmonogram, budżet i zasoby.
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <!--Tab-->
                                    <div class="tab" id="prod-spec">
                                        <div class="content">
                                            <p>
                                                Gdy plan jest gotowy, przystępujemy do realizacji inwestycji. DMD Budownictwo rozpoczyna 
                                                prace budowlane zgodnie z ustalonym projektem. W zależności od charakteru inwestycji, 
                                                w proces mogą być zaangażowane różne marki DMD:
                                            </p>
                                            <ul>
                                                <li>
                                                    <strong>DMD Instalacje:</strong>
                                                    Zajmuje się kompleksowymi rozwiązaniami instalacyjnymi, takimi jak elektryka, hydraulika i systemy HVAC.
                                                </li>
                                                <li>
                                                    <strong>DMD Domy:</strong>
                                                    Realizuje budowę domów, dbając o najwyższą jakość i estetykę.
                                                </li>
                                                <li>
                                                    <strong>DMD EliteHome:</strong>
                                                    Tworzy unikalne, luksusowe nieruchomości, spełniając indywidualne potrzeby klientów.
                                                </li>
                                            </ul>
                                            <p>
                                                Wszystkie prace są wykonywane z najwyższą starannością, przy użyciu nowoczesnych technologii 
                                                i materiałów. Nasz zespół monitoruje postęp prac, aby zapewnić zgodność z harmonogramem i budżetem.
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <!--Tab-->
                                    <div class="tab" id="prod-reviews">
                                        <div class="content">
                                            <p>
                                                Po zakończeniu prac budowlanych i instalacyjnych, następuje etap finalizacji inwestycji. 
                                                Przeprowadzamy szczegółowe odbiory techniczne, aby upewnić się, że wszystkie prace zostały 
                                                wykonane zgodnie z najwyższymi standardami. Inwestycja jest następnie przekazywana inwestorowi.
                                            </p>
                                            <ul>
                                                <li>
                                                    <strong>DMD Development:</strong>
                                                    Jeśli inwestycja jest wspólna, DMD Development wkracza do akcji, promując nieruchomość na rynku. 
                                                    Zajmujemy się poszukiwaniem najemców lub klientów, aby zfinalizować inwestycję w najbardziej 
                                                    lukratywny sposób, zgodnie z preferencjami inwestorów.
                                                </li>
                                            </ul>
                                            <p>
                                                Ten etap kończy proces realizacji inwestycji, zapewniając pełną satysfakcję naszych klientów 
                                                i maksymalizując wartość inwestycji.
                                            </p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <!--End Product Info Tabs-->

                        <!--Accordian Column-->
                        <div class="accordian-column col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                
                                
                                <!--Accordian Box-->
                                <ul class="accordion-box">
                                    
                                    <!--Block-->
                                    <li class="accordion block">
                                        <div class="acc-btn">
                                            <div class="icon-outer">
                                                <span class="icon icon-plus fa fa-plus"></span> 
                                                <span class="icon icon-minus fa fa-minus"></span>
                                            </div>
                                            Jakie są pierwsze kroki w procesie inwestycyjnym z DMD?
                                        </div>
                                        <div class="acc-content">
                                            <div class="content">
                                                <div class="text">
                                                    Proces rozpoczyna się od okoliczności inwestycyjnej, gdzie klient lub inwestor 
                                                    inicjuje pomysł na nieruchomość. Następnie, nasz zespół DMD Inwestycje analizuje 
                                                    i planuje projekt, przygotowując szczegółowy plan działania.
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <!--Block-->
                                    <li class="accordion block active-block">
                                        <div class="acc-btn active">
                                            <div class="icon-outer">
                                                <span class="icon icon-plus fa fa-plus"></span> 
                                                <span class="icon icon-minus fa fa-minus"></span>
                                            </div>
                                            Które marki DMD są zaangażowane w realizację inwestycji?
                                        </div>
                                        <div class="acc-content current">
                                            <div class="content">
                                                <div class="text">
                                                    W zależności od charakteru projektu, angażujemy odpowiednie zespoły: DMD Budownictwo, 
                                                    DMD Inwestycje, DMD Instalacje, DMD Domy i DMD EliteHome. Każda marka odgrywa unikalną 
                                                    rolę, aby zapewnić najwyższą jakość realizacji.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <!--Block-->
                                    <li class="accordion block">
                                        <div class="acc-btn">
                                            <div class="icon-outer">
                                                <span class="icon icon-plus fa fa-plus"></span> 
                                                <span class="icon icon-minus fa fa-minus"></span>
                                            </div>
                                            Czy DMD zajmuje się również instalacjami budowlanymi?
                                        </div>
                                        <div class="acc-content">
                                            <div class="content">
                                                <div class="text">
                                                    Tak, DMD Instalacje specjalizuje się w kompleksowych rozwiązaniach instalacyjnych, takich 
                                                    jak elektryka, hydraulika i systemy HVAC, zapewniając efektywność i bezpieczeństwo każdej 
                                                    inwestycji.
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <!--Block-->
                                    <li class="accordion block">
                                        <div class="acc-btn">
                                            <div class="icon-outer">
                                                <span class="icon icon-plus fa fa-plus"></span> 
                                                <span class="icon icon-minus fa fa-minus"></span>
                                            </div>
                                            Co się dzieje po zakończeniu budowy?
                                        </div>
                                        <div class="acc-content">
                                            <div class="content">
                                                <div class="text">
                                                    Po zakończeniu prac budowlanych i instalacyjnych, przeprowadzamy szczegółowe odbiory techniczne. 
                                                    Inwestycja jest następnie przekazywana inwestorowi. Jeśli projekt jest wspólną inwestycją, 
                                                    DMD Development promuje nieruchomość na rynku, szukając najemców lub klientów.
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <!--Block-->
                                    <li class="accordion block">
                                        <div class="acc-btn">
                                            <div class="icon-outer">
                                                <i class="icon icon-plus fa fa-plus"></i> 
                                                <i class="icon icon-minus fa fa-minus"></i>
                                            </div>
                                            Jak mogę rozpocząć współpracę z DMD przy moim projekcie?
                                        </div>
                                        <div class="acc-content">
                                            <div class="content">
                                                <div class="text">
                                                    Zapraszamy do kontaktu z naszym zespołem, który pomoże Ci na każdym etapie planowania i realizacji 
                                                    inwestycji. Razem możemy przekształcić Twoje marzenia i pomysły w udane inwestycje, które przyniosą 
                                                    wartość i satysfakcję na lata.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                                
                            </div>
                        </div>
                        <!--END of Accordian Column-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

