{% extends 'base-pl.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/realizacje.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Realizacje</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Realizacje</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
    <!--Services Section-->
    <section class="services-section">
        <div class="auto-container">
            <div class="sec-title">
                <div class="title">Zobacz, co już osiągnęliśmy</div>
                <h2><span class="theme_color">Nasze </span> Realizacje</h2>
            </div>
            <div class="three-item-carousel owl-carousel owl-theme">
                {% for pro in projects %}
                    <!--Services Block-->
                    <div class="services-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{{pro.zdjecie}}" alt="{{pro.tytul_ogloszenia}}">
                            </div>
                            <div class="lower-content">
                                <div class="upper-box">
                                    <div class="icon-box">
                                        <span class="icon flaticon-drawing"></span>
                                    </div>
                                    <h3><a href="javascript:void(0)">{{pro.tytul_ogloszenia}}</a></h3>
                                </div>
                                <div class="text">
                                    {{pro.opis}}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!--Services Block-->
                <div class="services-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="static/images/resource/hala-kobylka.jpg" alt="">
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-drawing"></span>
                                </div>
                                <h3><a href="#">Hala w Kobyłce</a></h3>
                            </div>
                            <div class="text">
                                Hala w Kobyłce z 2025 roku to nowoczesny pasaż handlowy z przestronnymi lokalami pod handel i usługi.
                            </div>
                        </div>
                    </div>
                </div>

                <!--Services Block-->
                <div class="services-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="static/images/resource/hala-stare-babice.jpg" alt="">
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-drawing"></span>
                                </div>
                                <h3><a href="#">Hala w Starych Babicach</a></h3>
                            </div>
                            <div class="text">
                                Hala w Starych Babicach, powstała w 2016 roku, o powierzchni 1480 m² 
                                z biurami o powierzchni 400 m², oferuje przestronne i funkcjonalne 
                                rozwiązania dla biznesu.
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="static/images/resource/hala-radzymin.jpg" alt="">
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-drawing"></span>
                                </div>
                                <h3><a href="#">Hale w Radzyminie</a></h3>
                            </div>
                            <div class="text">
                                Nasze realizacje w Radzyminie to nowoczesna hale, oddana do użytku 
                                w 2023 roku, zaprojektowana z myślą o efektywności i innowacyjności.
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="static/images/resource/swd.jpg" alt="">
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-drawing"></span>
                                </div>
                                <h3><a href="#">Budynek Usługowy SWD</a></h3>
                            </div>
                            <div class="text">
                                Nowoczesny budynek usługowy SWD przy ulicy Warszawskiej w Lubiczowie, 
                                zaprojektowany, aby wspierać lokalną społeczność i rozwijać biznes 
                                w regionie.
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="static/images/resource/szkola-navigo.jpg" alt="">
                        </div>
                        <div class="lower-content">
                            <div class="upper-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-drawing"></span>
                                </div>
                                <h3><a href="#">Szkoła Navigo</a></h3>
                            </div>
                            <div class="text">
                                Szkoła Navigo, otwarta w 2022 roku, jest to centrum edukacyjne stworzone 
                                z myślą o rozwoju kompetencji społecznych, kreatywności i samodzielności dzieci. 
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
        </div>
    </section>
    <!--End Services Section-->

    <!--Clients Section-->
    <section class="clients-section style-two">
        <div class="auto-container">
            
            <div class="sec-title centered">
                
                <h2><span>Nasi </span> Partnerzy</h2>
            </div>
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="http://www.barycz-saramowicz.pl/" target="_bank"><img src="static/images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="https://www.jio.pl/" target="_bank"><img src="static/images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="https://magarchitekci.pl/" target="_bank"><img src="static/images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="https://www.mgprojekt.com.pl/" target="_bank"><img src="static/images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="https://mobius.pl/" target="_bank"><img src="static/images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="https://reformarchitekt.pl/" target="_bank"><img src="static/images/clients/6.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="https://www.trzoparchitekci.pl/pl/" target="_bank"><img src="static/images/clients/7.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>
    <!--End Clients Section-->

    <!--Call To Action Two-->
    <section class="call-to-action-section-two" style="background-image:url(static/images/background/4.jpg)">
        <div class="auto-container">
            <div class="row clearfix">
                
                <div class="column col-md-7 col-sm-12 col-xs-12">
                    <img src="static/images/logo.png" alt="">
                    <h2><span class="theme_color">Budujemy </span> z pasją!</h2>
                    <div class="text">Jeśli potrzebujesz wsparcia w zakresie budownictwa i remontów, skontaktuj się z nami. Jesteśmy gotowi, aby pomóc w każdej sytuacji.</div>
                </div>
                <div class="btn-column col-md-5 col-sm-12 col-xs-12">
                    <div class="number"><a href="tel:+48736545454">736 54 54 54</a><span class="theme_color"> lub</span> <a href="/kontakt" class="theme-btn btn-style-five">Skontaktuj się</a> </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Call To Action Two-->
{% endblock %}

