{% extends 'base-en.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/struktura.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>DMD Structure</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Structure</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Call: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
    <!--Project Single Section-->
    <section class="project-single-section">
    	<div class="auto-container">
        	<div class="inner-box">
            	
                <div class="row clearfix">
                	<!--Info Column-->
                    <div class="info-column col-md-4 col-sm-12 col-xs-12">

                        <div class="sec-title">
                            <h2><span class="theme_color">Our</span> Mission</h2>
                        </div>
                        
                        <div class="text">
                            DMD is a comprehensive group of companies that combines diverse specializations and talents to meet the expectations of even the most demanding clients. Our primary goal is to deliver top-quality services and products, ensuring complete satisfaction and convenience for our clients.
                        </div>
                        
                        <!--Solution Box Two-->
                        <div class="solution-box-two" style="background-image:url(static/images/background/patern-2.png)">
                            <div class="inner">
                                <div class="title">Quick Contact</div>
                                <h2>Make Your Dreams Come True with DMD</h2>
                                <div class="text">
                                    Join forces with DMD – a passionate and experienced team that will transform your dreams into reality, providing comprehensive support at every stage of your project.
                                </div>
                                <a class="solution-btn theme-btn" href="/kontakt">Contact Us</a>
                            </div>
                        </div>
                        
                    </div>
                    <!--Description Column-->
                    <div class="description-column col-md-8 col-sm-12 col-xs-12">
                    	<div class="sec-title">
                        	<h2><span class="theme_color">Discover</span> Our Structure</h2>
                        </div>
                        <div class="text">
                        	<p>
                                DMD is a comprehensive group of companies that combines diverse specializations and talents 
                                to meet the expectations of the most demanding clients. Each of our brands has its unique 
                                mission, supporting our overarching goal: delivering top-quality services and products in 
                                the construction industry.
                            </p>
                            <h3>Our Brands</h3>
                            <p>
                                Our brands cover a wide range of construction and investment services, creating a synergy 
                                that enables us to execute even the most complex projects. Get to know each of our brands 
                                and discover what we can offer.
                            </p>
                            <div class="row footer-style-two" style="background-color: black; padding: 10px 15px; margin-bottom: 1em;">
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=budownictwo">
                                        <img src="static/images/brands/logo_budownictwo.png" class="keep-size" alt="budownictwo"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=domy">
                                        <img src="static/images/brands/logo_domy.png" class="keep-size" alt="domy"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=elitehome">
                                        <img src="static/images/brands/logo_elitehome.png" class="keep-size" alt="elitehome"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=instalacje">
                                        <img src="static/images/brands/logo_instalacje.png" class="keep-size" alt="instalacje"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=inwestycje">
                                        <img src="static/images/brands/logo_investment.png" class="keep-size" alt="inwestycje"/>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <a href="/struktura?target=development">
                                        <img src="static/images/brands/logo_development.png" class="keep-size" alt="development"/>
                                    </a>
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                    <ul class="list-style-five">
                                        <li><strong><a href="/struktura?target=budownictwo">DMD Budownictwo:</a></strong> The foundation of our operations, where innovation and the highest standards shape the future of the industry.</li>
                                        <li><strong><a href="/struktura?target=domy">DMD Domy:</a></strong> We make dreams of the perfect home come true, combining safety, exceptional aesthetics, and functionality.</li>
                                        <li><strong><a href="/struktura?target=elitehome">DMD EliteHome:</a></strong> Our flagship in the luxury real estate segment, where top-level luxury meets unique design.</li>
                                    </ul>
                                </div>
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                    <ul class="list-style-five">
                                        <li><strong><a href="/struktura?target=instalacje">DMD Instalacje:</a></strong> We specialize in comprehensive installation solutions that are crucial for every investment.</li>
                                        <li><strong><a href="/struktura?target=inwestycje">DMD Inwestycje:</a></strong> We are engaged in sustainable development projects that generate long-term value.</li>
                                        <li><strong><a href="/struktura?target=development">DMD Development:</a></strong> We build and sell new properties, offering comfortable, safe, and modern spaces for living and working.</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                We are proud of our prestigious projects that not only meet the needs of our clients but also contribute to the development of local communities. Innovative solutions and top-quality craftsmanship are our hallmark.
                            </p>
                            <h3>Choose DMD</h3>
                            <div class="text">
                                We invite you to collaborate with DMD. Our passionate and experienced team is ready to turn your dreams into reality, providing comprehensive support at every stage of your project. Trust the professionalism and dedication that define DMD.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Project Single Section-->

{% endblock %}

