{% extends 'base-en.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Website Terms</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Website Terms</li>
                    </ul>
                </div>
                
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Call: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col">
                <section class="single-page">
                    <div class="container" data-aos="fade-up">
                        <h3 class="text-white">Website Terms of Use</h3>
                        <p class="text-secondary">
                            To ensure a satisfying experience for all users while maintaining security 
                            and compliance with our standards, we have established the following 
                            terms of use for our website. Please review them carefully before browsing 
                            or using our services.
                        </p>
                        <hr />
                        <h4 class="text-white">1. Registration and User Account</h4>
                        <p class="page-highlight">
                            Please provide honest and accurate information during the registration process. 
                            Each user is responsible for maintaining the security of their account.
                        </p>
                        <h4 class="text-white">2. Copyright and Intellectual Property</h4>
                        <p class="page-highlight">
                            Respect copyright and intellectual property rights. Copying, distributing, 
                            or modifying site content without our permission is prohibited.
                        </p>
                        <h4 class="text-white">3. Privacy Policy</h4>
                        <p class="page-highlight">
                            We care about our users' privacy. Please review our privacy policy to understand 
                            how we collect, use, and protect personal data.
                        </p>
                        <h4 class="text-white">4. Conduct on the Website</h4>
                        <p class="page-highlight">
                            All users must respect others. We do not tolerate offensive, discriminatory, 
                            or illegal content. We reserve the right to remove such content.
                        </p>
                        <h4 class="text-white">5. Account Security</h4>
                        <p class="page-highlight">
                            We encourage the use of strong passwords and regular password changes. 
                            Protecting your account from unauthorized access is crucial.
                        </p>
                        <h4 class="text-white">6. External Links</h4>
                        <p class="page-highlight">
                            We are not responsible for the content of external websites linked from 
                            our site. By clicking a link, the user accepts the terms of that website.
                        </p>
                        <h4 class="text-white">7. Updates and Modifications</h4>
                        <p class="page-highlight">
                            We reserve the right to make changes to the site's content and terms of use. 
                            Users will be informed of significant updates.
                        </p>
                        <h4 class="text-white">8. User Communication</h4>
                        <p class="page-highlight">
                            We will regularly inform users about important matters through email 
                            or announcements on the website.
                        </p>
                        <h4 class="text-white">9. Legal Responsibility</h4>
                        <p class="page-highlight">
                            Users are required to comply with local and international legal regulations 
                            when using our website.
                        </p>
                        <h4 class="text-white">10. Technical Support</h4>
                        <p class="page-highlight">
                            Our technical support team is ready to assist with problem-solving 
                            and answer any questions. Please contact us if you have any concerns.
                        </p>
                    </div>
                </section>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

