{% extends 'base.html' %}
{% block MainSlider %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/8.jpg)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Polityka Prywatności</h2>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/">DMD</a></li>
                        <li>Polityka Prywatności</li>
                    </ul>
                </div>
            </div>
            <div class="contact-number"><a href="tel:+48736545454"><span class="icon flaticon-phone-call"></span>Zadzwoń: +48 736 54 54 54</a></div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}

{% block content %}
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col">
                <section class="single-page">
                    <div class="container" data-aos="fade-up">
                        <h3 class="text-white">Zasady Korzystania z Naszej Strony Internetowej!</h3>
                        <p class="text-secondary ">
                            Aby zapewnić każdemu użytkownikowi satysfakcjonujące doświadczenie oraz utrzymać 
                            bezpieczeństwo i zgodność z naszymi standardami, opracowaliśmy poniższe zasady 
                            korzystania z naszej strony internetowej. Prosimy o dokładne zapoznanie się 
                            z nimi przed rozpoczęciem przeglądania czy korzystania z naszych usług.
                        </p>
                        <hr />
                        <h4 class="text-white">1. Rejestracja i Konto Użytkownika</h4>
                        <p class="page-highlight">
                            Prosimy o uczciwe i dokładne podawanie informacji podczas procesu rejestracji. 
                            Każdy użytkownik jest odpowiedzialny za utrzymanie bezpieczeństwa swojego konta.
                        </p>
                        <h4 class="text-white">2. Prawa Autorskie i Własność Intelektualna</h4>
                        <p class="page-highlight">
                            Szanujmy prawa autorskie oraz prawa własności intelektualnej. Zakazane jest 
                            kopiowanie, rozpowszechnianie lub modyfikowanie zawartości strony bez naszej zgody.
                        </p>
                        <h4 class="text-white">3. Zasady Prywatności</h4>
                        <p class="page-highlight">
                            Dbamy o prywatność naszych użytkowników. Prosimy o zapoznanie się z naszą polityką 
                            prywatności, aby zrozumieć, jak gromadzimy, używamy i chronimy dane osobowe.
                        </p>
                        <h4 class="text-white">4. Zachowanie na Stronie</h4>
                        <p class="page-highlight">
                            Wszyscy użytkownicy zobowiązani są do szanowania innych. Nie tolerujemy treści 
                            obraźliwych, dyskryminacyjnych czy nielegalnych. Zastrzegamy sobie prawo do 
                            usuwania takich treści.
                        </p>
                        <h4 class="text-white">5. Bezpieczeństwo Konta</h4>
                        <p class="page-highlight">
                            Zachęcamy do stosowania silnych haseł i regularnej zmiany hasła. Ochrona konta 
                            przed nieautoryzowanym dostępem jest kluczowa.
                        </p>
                        <h4 class="text-white">6. Linki Zewnętrzne</h4>
                        <p class="page-highlight">
                            Nie ponosimy odpowiedzialności za treści na stronach zewnętrznych, do których 
                            prowadzą linki na naszej stronie. Klikając na link, użytkownik akceptuje warunki 
                            korzystania z danej strony.
                        </p>
                        <h4 class="text-white">7. Aktualizacje i Modyfikacje</h4>
                        <p class="page-highlight">
                            Zastrzegamy sobie prawo do wprowadzania zmian w treści strony oraz zasad korzystania. 
                            Użytkownicy zostaną poinformowani o istotnych aktualizacjach.
                        </p>
                        <h4 class="text-white">8. Komunikacja z Użytkownikami</h4>
                        <p class="page-highlight">
                            Regularnie będziemy informować użytkowników o istotnych sprawach za pośrednictwem 
                            wiadomości e-mail lub ogłoszeń na stronie.
                        </p>
                        <h4 class="text-white">9. Odpowiedzialność Prawna</h4>
                        <p class="page-highlight">
                            Użytkownicy są zobowiązani do przestrzegania lokalnych i międzynarodowych przepisów 
                            prawnych podczas korzystania z naszej strony.
                        </p>
                        <h4 class="text-white">10. Wsparcie Techniczne</h4>
                        <p class="page-highlight">
                            Nasz zespół wsparcia technicznego jest gotów pomóc w rozwiązaniu problemów i udzielić 
                            odpowiedzi na pytania. Prosimy o kontakt, jeśli masz jakiekolwiek wątpliwości.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}

